@using Entities.Models;


@model Coupon

<form asp-action="CreateCoupon" method="Post" ajaxDisabled="true">
    <div class="card-body">
        <input type="hidden" asp-for="CouponId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="product-details-area">
            <div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label required" for="Name">Code</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            <input class="form-control text-box single-line" asp-for="CouponCode" type="text" required="Please fill tittle Name">
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label">Description</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" asp-for="Description" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label" for="Name">Value</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            <input class="form-control text-box single-line" asp-for="DiscountAmount" type="number">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label" for="Name">Max Benefit</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            <input class="form-control text-box single-line" asp-for="MaxBenefit" type="number">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label" for="Name">Minimum Purchase For Redeem</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            <input class="form-control text-box single-line" asp-for="MinPurchaseForRedeem" type="number">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label" for="Name">Use Count</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            <input class="form-control text-box single-line" asp-for="UseCount" min="1" max="10" type="number">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label">Payment Mode</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" asp-for="PaymentModes" style="width: 100%">
                            <option value="0"> --Choose Payment -- </option>
                            <option value="Cash"> Cash </option>
                            <option value="Prepaid"> Prepaid </option>
                            <option value="All"> All </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="ExpiryOn" class="col-form-label">ExpiryOn</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="DtExpiredOn" asp-for="ExpiryOn" type="text" readonly required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" asp-for="IsProductDependent">
                        </div>
                    </div>
                    <label class="form-control" for="IsActive">Product Dependent</label>
                </div>
                <div class="col-sm-6 input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" asp-for="IsActive">
                        </div>
                    </div>
                    <label class="form-control" for="IsActive">Active</label>
                </div>
                <div class="col-sm-6 input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" asp-for="IsFixed" checked>
                        </div>
                    </div>
                    <label class="form-control" for="IsActive">Fixed</label>
                </div>
                <div class="col-sm-6 input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" asp-for="IsWelcomeCoupon">
                        </div>
                    </div>
                    <label class="form-control" for="IsActive">Welcome Coupon</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <input class="btn btn-primary float-right" type="submit" id="btnSubmitCoupon">
    </div>
</form>
<script>
    // $('#btnSubmitCoupon').click(() => {
    //     let param = {

    //     };
    //     $.post('/CreateCoupon',).done(result => {
    //         Q.notify(result.statusCode, result.responseText);
    //         if (result.statusCode == 1) {
    //             loadData()
    //         }
    //     }).fail(xhr => {
    //         Q.notify(-1, xhr.responseText);
    //     })
    // });

    $('#DtExpiredOn').datepicker({
        changeYear: true,
        changeMonth: true,
        dateFormat: 'dd M yy',
        autoClose: true
    });
</script>