<div class="content-header clearfix">
    <h1 class="float-left">Coupons</h1>
    <div class="float-right">
        <a class="btn btn-primary" href="javascript:void(0)" id="btnsNew">
            <i class="fas fa-plus-square"></i>
            Add new
        </a>
    </div>
</div>
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered" id="Grid">
                        <thead>
                            <tr role="row" style="" class="">
                                <th>#</th>
                                <th class="text-nowrap">Coupon</th>
                                <th class="text-nowrap">IsFixed</th>
                                <th class="text-nowrap">Value</th>
                                <th class="text-nowrap">Expiry On</th>
                                <th class="text-nowrap">Active</th>
                                <th class="text-nowrap">Payment Mode</th>
                                <th class="text-nowrap">WelCoupon</th>
                                <th class="text-nowrap">EntryOn</th>
                                <th class="text-nowrap">MaxBenefit</th>
                                <th class="text-nowrap">UseCount</th>
                                <th class="text-nowrap">ProductDep</th>
                                <th class="text-nowrap">MinPurchaseForRedeem</th>
                                <th class="text-nowrap">IsAutoApply</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#btnsNew').click(() => dialog.coupon())
            loadData();
        })
        var loadData = function () {
            let request = {
                Id: 0
            };
            $.post('/Coupon/CouponsList', request).done(function (result) {
                $('#Grid tbody').html(result);
            }).fail(function (xhr) {
                console.log(xhr.responseText);
                alert('something went wrong');
            })
        };
        var deletes = (CouponId) => Q.confirm("Are You Sure. You Want To Delete Coupon", () => delCoupon(CouponId));
        var delCoupon = function (CouponId = 0) {
            $.post('/Coupon/DelCoupon', { CouponId }).done((res) => {
                Q.notify(res.statusCode, res.responseText);
                if (res.statusCode) {
                    loadData();
                }
            })
        }
        var Update = function (CouponId) {
            let IsActive = false;
            let IsWelcomeCoupon = false;
            let IsFixed = false;
            let IsAutoApply = false;
            let IsProductDependent = false;
            if ($('#IsActive_' + CouponId).is(":checked")) {
                IsActive = true;
            }
            if ($('#IsWelcomeCoupon_' + CouponId).is(":checked")) {
                IsWelcomeCoupon = true;
            }
            if ($('#IsFixed_' + CouponId).is(":checked")) {
                IsFixed = true;
            }
            if ($('#IsAutoApply_' + CouponId).is(":checked")) {
                IsAutoApply = true;
            }
            if ($('#IsProductDependent_' + CouponId).is(":checked")) {
                IsProductDependent = true;
            }
        
            let obj = {
                CouponId: CouponId,
                IsActive: IsActive,
                IsWelcomeCoupon: IsWelcomeCoupon,
                IsFixed: IsFixed,
                IsAutoApply: IsAutoApply,
                IsProductDependent: IsProductDependent
            };
            $.post('/Coupon/UpdateIsActive', obj).done(function (result) {
                console.log(result);
                Q.notify(result.statusCode, result.responseText);
                if (result.statusCode == 1) {
                    loadData();
                }
            }).fail(function (xhr) {
                console.log(xhr.responseText);
                alert('Something went wrong');
            });
        };

    </script>
}