@using Entities.Enums
@{
    Layout = "_Layout";
}
<section class="cart-section section-big-py-space b-g-light" id="dvCartDetails">
</section>

@section scripts{
<script>
  $(document).ready(function () {
    loadCartDetails();
});
</script>
}
