@using Entities.Models;


@model OfferViewModel
@{
    var ddl = new SelectList(Model.offerstypeDDLs, "Id", "OfferName");
    string sd = string.Empty;
}
<form asp-action="OfferCreate" method="Post">

    <div class="card-body">
        <input type="hidden" asp-for="OfferId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="product-details-area">
            <div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label required" for="Name">Title</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            <input class="form-control text-box single-line" asp-for="OfferTitle" type="text" required="Please fill tittle Name">
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label">Description</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" asp-for="OfferDescription" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label" for="Name">Discount in%</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-group-required">
                            <input class="form-control text-box single-line" asp-for="DiscountUpToAmount" type="number">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label">OfferTypeId</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" asp-for="OfferTypeId" style="width: 100%">
                            <option value="0"> --Choose offerid -- </option>
                            @* <optgroup label="Test">*@
                            @foreach (var item in Model.offerstypeDDLs)
                            {
                                <option value="@item.Id">@item.OfferName</option>
                            }
                            @*</optgroup>*@
                        </select>

                    </div>
                </div>
            </div>
            @*<div class="form-group row">
                <div class="col-md-3">
                    <div class="label-wrapper">
                        <label class="col-form-label">IsActive</label>
                    </div>
                </div>
                <div class="col-md-9">
                    <input type="checkbox" asp-for="IsActive" checked>
                </div>
            </div>*@
            <div class="col-sm-4 input-group mt-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" asp-for="IsActive" checked>
                    </div>
                </div>
                <label class="form-control" for="IsActive">IsActive</label>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <input class="btn btn-primary float-right" type="submit">
    </div>
</form>
<script>
    $('#OfferTypeId').select2({
        selectOnClose: true,
        dropdownParent: $(".ui-dialog")
    });
</script>