<div class="content-header clearfix">
    <h1 class="float-left">
        Attributes
    </h1>
    <div class="float-right">
        <a class="btn btn-primary" href="javascript:void(0)" id="btnNew">
            <i class="fas fa-plus-square"></i>
            Add new
        </a>
    </div>
</div>
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered m-0 w-100" id="Grid">
                        <thead>
                            <tr role="row" style="" class="">
                                <th>#</th>
                                <th>Name</th>
                                <th>IsPublished</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        $(document).ready(function () {
            $('#btnNew').click(() => dialog.AddAttribute());
            loadData();
        })
        var loadData = function () {
            let request = {
                Id: 0
            };
            $.post('/Attribute/List', request).done(function (result) {
                $('#Grid tbody').html(result);
            }).fail(function (xhr) {
                console.log(xhr.responseText);
                alert('something went wrong');
            })
        };
        var UpdateIspublish = function(Id) {
        let IsPublish = false;
        if ($('#Ispublish_' + Id).is(":checked")) {
            IsPublish = true;
        }
        let obj = {
            Id: Id,
            IsPublished: IsPublish
        }
        $.post('/Attribute/UpdateIsPublishAttribute', obj).done(function(result) {
            console.log(result);
            Q.notify(result.statusCode, result.responseText);
            if (result.statusCode == 1) {
                loadData();
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('something went wrong');
        })
    }
    </script>
}