@{
    Layout = "_layout";
}
<style>
    .contact-page .theme-form {
        padding: 20px;
        background-color: #f1f4f7;
        border: 0px solid #ffffff;
        margin-bottom: 20px;
    }

    .box {
        background-color: #fff;
        border-radius: 8px;
        border: 2px solid #e9ebef;
        padding: 20px;
        margin-bottom: 20px;
    }

    .box-title {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: #094bde;
        letter-spacing: 2px;
    }

    .plan-selection {
        border-bottom: 2px solid #e9ebef;
        padding-bottom: 25px;
        margin-bottom: 35px;
    }

        .plan-selection:last-child {
            border-bottom: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

    .plan-data {
        position: relative;
    }

        .plan-data label {
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 400;
        }

    .plan-text {
        padding-left: 15px;
    }

    .plan-price {
        position: absolute;
        right: 0px;
        color: #094bde;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1.5;
        bottom: 43px;
    }

    /*
        * SVG Icons
        **********************************************************/
    .svg {
        display: block;
        position: absolute;
        top: 2px;
        right: 15px;
        width: 45px;
        height: 45px;
    }

    /*
        * Buttons
        **********************************************************/
    .button {
        position: relative;
        height: 50px;
        padding: 0 0 0 50px;
        font-size: 14px;
        line-height: 48px;
        border-bottom: 1px solid #bbb;
        background: #fafafa;
        cursor: pointer;
    }

        .button:hover {
            background: #f5f5f5;
        }

        .button:after {
            content: '';
            position: absolute;
            top: 15px;
            left: 18px;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 7px #fff;
            background: #fff;
        }

        .button:hover:after {
            background: #bbb;
        }

        .button.active:after {
            background: #555;
        }

    /*
        * Breakpoint
        **********************************************************/
    @@media all and (min-width: 500px) {
        .svg {
            right: 25px;
            width: 55px;
            height: 55px;
        }



        .button {
            height: 60px;
            padding: 0 0 0 60px;
            font-size: 18px;
            line-height: 58px;
        }

            .button:after {
                top: 20px;
                left: 23px;
            }
    }
    /*
        * Breakpoint
        **********************************************************/
    @@media all and (min-width: 700px) {
        .svg {
            top: auto !important;
            right: 0 !important;
            left: 0;
            margin: auto;
            bottom: 10px;
            width: 60px;
            height: 60px;
        }



        .payments {
            max-width: 700px;
            margin: 0 auto;
            padding: 0px;
            overflow: hidden;
            display: flex;
        }

        .button {
            width: 150px;
            height: 150px;
            margin-right: 10px;
            padding: 50px 0 0;
            font-size: 18px;
            line-height: 1;
            text-align: center;
            border: 0;
            border-radius: 3px;
            box-shadow: inset 0 0 0 1px #bbb;
        }

            .button:last-child {
                margin-right: 0;
            }

            .button:after {
                top: 15px;
                left: 55px;
            }
    }

</style>

<!-- section start -->
<section class="section-big-py-space b-g-light pt-4">
    <div class="custom-container">
        <div class="checkout-page contact-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12" id="dbAddress">
                            
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12" id="dvPlaceOrderDetails">
                            <div class="checkout-details theme-form  section-big-mt-space">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Product <span>Total</span></div>
                                    </div>
                                    <ul class="qty">
                                        <li>Pink Slim Shirt × 1 <span>$25.10</span></li>
                                        <li>SLim Fit Jeans × 1 <span>$555.00</span></li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>Subtotal <span class="count">$380.10</span></li>
                                        <li>
                                            Shipping
                                            <div class="shipping">
                                                <div class="shopping-option">
                                                    <input type="checkbox" name="free-shipping" id="free-shipping">
                                                    <label for="free-shipping">Free Shipping</label>
                                                </div>
                                                <div class="shopping-option">
                                                    <input type="checkbox" name="local-pickup" id="local-pickup">
                                                    <label for="local-pickup">Local Pickup</label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count">$620.00</span></li>
                                    </ul>
                                </div>
                                <div class="payment-box">
                                    <div class="upper-box">
                                        <div class="payment-options">
                                            <div class="main">
                                                <h3 class="box-title">Select Payment Method</h3>
                                                <div class='payments'>

                                                    <div class='button active'>
                                                        Cash

                                                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#f8f9f9" d="M11 8h28v16H11z" /><path fill="#bec6c6" d="M46 4v13c-3 0-2.75-.12-4.58.79-.56.28-.93.21-2.42.21v-7.78a3.59 3.59 0 0 1-2.24.78H36l-2.85 2.85a2.26 2.26 0 0 1-3.33-3L32.17 8H23l2.13-3.54A3 3 0 0 1 27.7 3h12.36a4.94 4.94 0 0 1 2.52.79c.56.28.74.21 3.42.21Z" /><circle cx="25" cy="16" r="5" fill="#6457ff" /><path fill="#f8f9f9" d="M40 35.19a2.94 2.94 0 0 1-1.62 2.62l-13.11 6.56c-1.63.79-2.3.63-7.46.63-1.09 0-.6 0-11-2.79C5.73 41.93 5.15 42 2 42V29l5.85-.73a7.81 7.81 0 0 1 4.14.58l9.49 4.07a2.8 2.8 0 0 1 .84 4.59l13.75-5.06A2.92 2.92 0 0 1 40 35.19Z" /><path fill="#414141" d="M39.32 32a3.92 3.92 0 0 0-3.6-.47l-11.57 4.24A3.82 3.82 0 0 0 21.88 32l-9.49-4.07a8.87 8.87 0 0 0-4.66-.65L1.88 28a1 1 0 0 0 .24 2L8 29.26a7 7 0 0 1 3.62.51l9.49 4.07a1.81 1.81 0 0 1 1 2.33 1.85 1.85 0 0 1-2.24 1l-6.49-2.16a1 1 0 1 0-.64 1.9l6.49 2.16a4 4 0 0 0 3.68-.73l13.57-5A1.92 1.92 0 0 1 39 35.19a1.94 1.94 0 0 1-1.07 1.73l-13.1 6.55c-1.4.68-2 .53-7 .53-.9 0-.33.09-10.78-2.75C5.81 40.91 5 41 2 41a1 1 0 0 0 0 2c3.26 0 3.66-.06 4.51.17C16.93 46 16.56 46 17.81 46c4.87 0 6 .2 7.91-.74l13.11-6.56a3.92 3.92 0 0 0 .49-6.7Z" /><path fill="#bec6c6" d="M12 12V9h3a3 3 0 0 1-3 3zm0 8v3h3a3 3 0 0 0-3-3zm26 0v3h-3a3 3 0 0 1 3-3z" /><circle cx="16" cy="16" r="1" fill="#bec6c6" /><circle cx="34" cy="16" r="1" fill="#bec6c6" /><path fill="#414141" d="M46 16c-2 0-3-.13-4.29.53-1.08.54-.82.47-1.71.47v-6.33a4.73 4.73 0 0 0 .89-1.22 1 1 0 0 0-1.78-.9A2.61 2.61 0 0 1 36.76 10c-.89 0-1.14 0-1.47.29l-2.85 2.85a1.25 1.25 0 0 1-1.45.24 1.26 1.26 0 0 1-.4-1.93l3.18-3.81a1 1 0 1 0-1.54-1.28L31.7 7h-6.93L26 5a2 2 0 0 1 1.7-1h12.36a4.2 4.2 0 0 1 2.07.68C43 5.12 43.68 5 46 5a1 1 0 0 0 0-2c-2.78 0-2.69 0-3-.11A5.92 5.92 0 0 0 40 2H27.7a4 4 0 0 0-3.43 1.94L22.43 7H11a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h28a1 1 0 0 0 1-1v-5a3.58 3.58 0 0 0 1.87-.32c1.59-.79 1.22-.68 4.13-.68a1 1 0 0 0 0-2Zm-8 7H12V9h18l-1 1.17a3.26 3.26 0 0 0 4.81 4.39l2.6-2.56a5.23 5.23 0 0 0 1.59-.17Z" /></svg>
                                                    </div>
                                                    <div class='button'>
                                                        Debit


                                                        <svg class="svg" width="312" height="205" viewBox="0 0 312 205" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M281.5 0.14502H30.0801C13.5115 0.14502 0.0800781 13.5765 0.0800781 30.145V174.085C0.0800781 190.654 13.5115 204.085 30.0801 204.085H281.5C298.069 204.085 311.5 190.654 311.5 174.085V30.145C311.5 13.5765 298.069 0.14502 281.5 0.14502Z" fill="#66C1FF" />
                                                            <path d="M281.5 0.14502H251.5C255.44 0.144757 259.341 0.920552 262.981 2.4281C266.621 3.93565 269.928 6.14542 272.714 8.93123C275.5 11.717 277.709 15.0243 279.217 18.6642C280.724 22.3041 281.5 26.2053 281.5 30.145V174.085C281.5 178.025 280.724 181.926 279.217 185.566C277.709 189.206 275.5 192.513 272.714 195.299C269.928 198.085 266.621 200.294 262.981 201.802C259.341 203.309 255.44 204.085 251.5 204.085H281.5C285.44 204.085 289.341 203.309 292.981 201.802C296.621 200.294 299.928 198.085 302.714 195.299C305.5 192.513 307.709 189.206 309.217 185.566C310.724 181.926 311.5 178.025 311.5 174.085V30.145C311.5 26.2053 310.724 22.3041 309.217 18.6642C307.709 15.0243 305.5 11.717 302.714 8.93123C299.928 6.14542 296.621 3.93565 292.981 2.4281C289.341 0.920552 285.44 0.144757 281.5 0.14502V0.14502Z" fill="#4EB7FF" />
                                                            <path d="M281.063 26.578H220.975C218.766 26.578 216.975 28.3689 216.975 30.578V50.203C216.975 52.4121 218.766 54.203 220.975 54.203H281.063C283.272 54.203 285.063 52.4121 285.063 50.203V30.578C285.063 28.3689 283.272 26.578 281.063 26.578Z" fill="white" />
                                                            <path d="M281.063 26.578H266.063C267.124 26.578 268.141 26.9994 268.891 27.7496C269.642 28.4997 270.063 29.5171 270.063 30.578V50.202C270.063 51.2629 269.642 52.2803 268.891 53.0304C268.141 53.7806 267.124 54.202 266.063 54.202H281.063C282.124 54.202 283.141 53.7806 283.891 53.0304C284.642 52.2803 285.063 51.2629 285.063 50.202V30.578C285.063 29.5171 284.642 28.4997 283.891 27.7496C283.141 26.9994 282.124 26.578 281.063 26.578Z" fill="#EEEEEE" />
                                                            <path d="M82.9461 26.578H30.5171C28.308 26.578 26.5171 28.3689 26.5171 30.578V66.605C26.5171 68.8142 28.308 70.605 30.5171 70.605H82.9461C85.1552 70.605 86.9461 68.8142 86.9461 66.605V30.578C86.9461 28.3689 85.1552 26.578 82.9461 26.578Z" fill="#FFE966" />
                                                            <path d="M82.946 26.578H67.946C69.0069 26.578 70.0243 26.9994 70.7744 27.7496C71.5246 28.4997 71.946 29.5171 71.946 30.578V66.604C71.946 67.6649 71.5246 68.6823 70.7744 69.4324C70.0243 70.1826 69.0069 70.604 67.946 70.604H82.946C84.0069 70.604 85.0243 70.1826 85.7744 69.4324C86.5246 68.6823 86.946 67.6649 86.946 66.604V30.578C86.946 29.5171 86.5246 28.4997 85.7744 27.7496C85.0243 26.9994 84.0069 26.578 82.946 26.578Z" fill="#FFE236" />
                                                            <path d="M222.563 174.085C232.228 174.085 240.063 166.25 240.063 156.585C240.063 146.92 232.228 139.085 222.563 139.085C212.898 139.085 205.063 146.92 205.063 156.585C205.063 166.25 212.898 174.085 222.563 174.085Z" fill="#FFE966" />
                                                            <path d="M252.563 174.085C262.228 174.085 270.063 166.25 270.063 156.585C270.063 146.92 262.228 139.085 252.563 139.085C242.898 139.085 235.063 146.92 235.063 156.585C235.063 166.25 242.898 174.085 252.563 174.085Z" fill="#FFC166" />
                                                            <path d="M252.563 139.085C250.426 139.088 248.307 139.485 246.313 140.255C249.622 141.517 252.469 143.754 254.478 146.67C256.487 149.586 257.563 153.044 257.563 156.585C257.563 160.126 256.487 163.584 254.478 166.5C252.469 169.416 249.622 171.653 246.313 172.915C248.71 173.834 251.281 174.213 253.841 174.027C256.402 173.841 258.89 173.093 261.129 171.837C263.368 170.582 265.304 168.848 266.798 166.761C268.292 164.673 269.308 162.282 269.775 159.757C270.241 157.233 270.146 154.636 269.497 152.152C268.847 149.669 267.659 147.358 266.016 145.385C264.373 143.412 262.316 141.825 259.991 140.736C257.666 139.647 255.13 139.084 252.563 139.085V139.085Z" fill="#FFB74E" />
                                                            <path d="M146.946 181.585H26.5171C24.528 181.585 22.6203 180.795 21.2138 179.388C19.8073 177.982 19.0171 176.074 19.0171 174.085C19.0171 172.096 19.8073 170.188 21.2138 168.782C22.6203 167.375 24.528 166.585 26.5171 166.585H146.946C148.935 166.585 150.843 167.375 152.249 168.782C153.656 170.188 154.446 172.096 154.446 174.085C154.446 176.074 153.656 177.982 152.249 179.388C150.843 180.795 148.935 181.585 146.946 181.585V181.585ZM86.9461 151.585H26.5171C25.5322 151.585 24.5569 151.391 23.647 151.014C22.737 150.637 21.9102 150.085 21.2138 149.388C20.5174 148.692 19.9649 147.865 19.588 146.955C19.2111 146.045 19.0171 145.07 19.0171 144.085C19.0171 143.1 19.2111 142.125 19.588 141.215C19.9649 140.305 20.5174 139.478 21.2138 138.782C21.9102 138.085 22.737 137.533 23.647 137.156C24.5569 136.779 25.5322 136.585 26.5171 136.585H86.9461C87.931 136.585 88.9063 136.779 89.8162 137.156C90.7262 137.533 91.553 138.085 92.2494 138.782C92.9458 139.478 93.4983 140.305 93.8752 141.215C94.2521 142.125 94.4461 143.1 94.4461 144.085C94.4461 145.07 94.2521 146.045 93.8752 146.955C93.4983 147.865 92.9458 148.692 92.2494 149.388C91.553 150.085 90.7262 150.637 89.8162 151.014C88.9063 151.391 87.931 151.585 86.9461 151.585ZM56.9461 110.166H26.5171C24.528 110.166 22.6203 109.376 21.2138 107.969C19.8073 106.563 19.0171 104.655 19.0171 102.666C19.0171 100.677 19.8073 98.7692 21.2138 97.3627C22.6203 95.9562 24.528 95.166 26.5171 95.166H56.9461C58.9352 95.166 60.8429 95.9562 62.2494 97.3627C63.6559 98.7692 64.4461 100.677 64.4461 102.666C64.4461 104.655 63.6559 106.563 62.2494 107.969C60.8429 109.376 58.9352 110.166 56.9461 110.166ZM132.985 110.166H102.556C100.567 110.166 98.6593 109.376 97.2528 107.969C95.8463 106.563 95.0561 104.655 95.0561 102.666C95.0561 100.677 95.8463 98.7692 97.2528 97.3627C98.6593 95.9562 100.567 95.166 102.556 95.166H132.985C134.974 95.166 136.882 95.9562 138.288 97.3627C139.695 98.7692 140.485 100.677 140.485 102.666C140.485 104.655 139.695 106.563 138.288 107.969C136.882 109.376 134.974 110.166 132.985 110.166ZM209.024 110.166H178.595C176.606 110.166 174.698 109.376 173.292 107.969C171.885 106.563 171.095 104.655 171.095 102.666C171.095 100.677 171.885 98.7692 173.292 97.3627C174.698 95.9562 176.606 95.166 178.595 95.166H209.024C211.013 95.166 212.921 95.9562 214.327 97.3627C215.734 98.7692 216.524 100.677 216.524 102.666C216.524 104.655 215.734 106.563 214.327 107.969C212.921 109.376 211.013 110.166 209.024 110.166ZM285.063 110.166H254.634C252.645 110.166 250.737 109.376 249.331 107.969C247.924 106.563 247.134 104.655 247.134 102.666C247.134 100.677 247.924 98.7692 249.331 97.3627C250.737 95.9562 252.645 95.166 254.634 95.166H285.063C287.052 95.166 288.96 95.9562 290.366 97.3627C291.773 98.7692 292.563 100.677 292.563 102.666C292.563 104.655 291.773 106.563 290.366 107.969C288.96 109.376 287.052 110.166 285.063 110.166Z" fill="#B3E0FF" />
                                                        </svg>

                                                    </div>
                                                    <div class='button'>
                                                        Credit Card


                                                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#c6c3d8" d="M47 15c0 21.5.21 20.69-.54 22A4 4 0 0 1 43 39H5a4 4 0 0 1-4-4V15Z" /><path fill="#dad7e5" d="M47 15c0 21.5.21 20.69-.54 22H13a4 4 0 0 1-4-4V15Z" /><path fill="#374f68" d="M47 13v2H1v-2a4 4 0 0 1 4-4h38a4 4 0 0 1 4 4Z" /><path fill="#425b72" d="M47 13v2H9v-2a4 4 0 0 1 4-4h30a4 4 0 0 1 4 4Z" /><path fill="#fc6" d="M43 30a5 5 0 0 1-8 4 5 5 0 0 0 0-8 5 5 0 0 1 8 4Z" /><path fill="#ffde76" d="M38 25a4.94 4.94 0 0 0-3 1 4.34 4.34 0 0 1 .63.58 5 5 0 0 1 5.07 7.62A5 5 0 0 0 38 25Z" /><circle cx="32" cy="30" r="5" fill="#db5669" /><path fill="#f26674" d="M35 26a5 5 0 0 0-7.2 1.3 5 5 0 0 1 6.91 6.88A5 5 0 0 0 35 26Z" /><path fill="#919191" d="M13 21v2a2 2 0 0 1-2 2H9v-6h2a2 2 0 0 1 2 2Z" /><path fill="#7c7d7d" d="M9 19v6H7a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2Z" /><path fill="#425b72" d="M19 32H9v-2h10a1 1 0 0 1 0 2Z" /><path fill="#374f68" d="M9 30v2H5a1 1 0 0 1 0-2Z" /><path fill="#425b72" d="M13 36h-2.64a4 4 0 0 1-1.23-2H13a1 1 0 0 1 0 2Z" /><path fill="#374f68" d="M10.36 36H5a1 1 0 0 1 0-2h4.13a4 4 0 0 0 1.23 2Z" /></svg>
                                                    </div>
                                                    <div class='button'>
                                                        UPI


                                                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 466"><path fill="#3d3d3c" d="M98.1 340.7h6.3l-5.9 24.5c-.9 3.6-.7 6.4.5 8.2 1.2 1.8 3.4 2.7 6.7 2.7 3.2 0 5.9-.9 8-2.7 2.1-1.8 3.5-4.6 4.4-8.2l5.9-24.5h6.4l-6 25.1c-1.3 5.4-3.6 9.5-7 12.2-3.3 2.7-7.7 4.1-13.1 4.1-5.4 0-9.1-1.3-11.1-4s-2.4-6.8-1.1-12.2l6-25.2zm31.4 40.3 10-41.9 19 24.6c.5.7 1 1.4 1.5 2.2.5.8 1 1.7 1.6 2.7l6.7-27.9h5.9l-10 41.8-19.4-25.1-1.5-2.1c-.5-.8-.9-1.5-1.2-2.4l-6.7 28h-5.9zm44.2 0 9.6-40.3h6.4l-9.6 40.3h-6.4zm15.5 0 9.6-40.3h21.9l-1.3 5.6h-15.5l-2.4 10H217l-1.4 5.7h-15.5l-4.5 18.9h-6.4zm29 0 9.6-40.3h6.4l-9.6 40.3h-6.4zm15.5 0 9.6-40.3h21.9l-1.3 5.6h-15.5l-2.4 10.1h15.5l-1.4 5.7h-15.5l-3.1 13H257l-1.4 5.9h-21.9zm29.3 0 9.6-40.3h8.6c5.6 0 9.5.3 11.6.9 2.1.6 3.9 1.5 5.3 2.9 1.8 1.8 3 4.1 3.5 6.8.5 2.8.3 6-.5 9.5-.9 3.6-2.2 6.7-4 9.5-1.8 2.8-4.1 5-6.8 6.8-2 1.4-4.2 2.3-6.6 2.9-2.3.6-5.8.9-10.4.9H263zm7.8-6h5.4c2.9 0 5.2-.2 6.8-.6 1.6-.4 3-1.1 4.3-2 1.8-1.3 3.3-2.9 4.5-4.9 1.2-1.9 2.1-4.2 2.7-6.8.6-2.6.8-4.8.5-6.7-.3-1.9-1-3.6-2.2-4.9-.9-1-2-1.6-3.5-2-1.5-.4-3.8-.6-7.1-.6h-4.6l-6.8 28.5zm59.7-12.1-4.3 18.1h-6l9.6-40.3h9.7c2.9 0 4.9.2 6.2.5 1.3.3 2.3.8 3.1 1.6 1 .9 1.7 2.2 2 3.8.3 1.6.2 3.3-.2 5.2-.5 1.9-1.2 3.7-2.3 5.3-1.1 1.6-2.4 2.9-3.8 3.8-1.2.7-2.5 1.3-3.9 1.6-1.4.3-3.6.5-6.4.5h-3.7zm1.7-5.4h1.6c3.5 0 6-.4 7.4-1.2 1.4-.8 2.3-2.2 2.8-4.2.5-2.1.2-3.7-.8-4.5-1.1-.9-3.3-1.3-6.6-1.3H335l-2.8 11.2zm40.1 23.5-2-10.4h-15.6l-7 10.4H341l29-41.9 9 41.9h-6.7zm-13.8-15.9h10.9l-1.8-9.2c-.1-.6-.2-1.3-.2-2-.1-.8-.1-1.6-.1-2.5-.4.9-.8 1.7-1.3 2.5-.4.8-.8 1.5-1.2 2.1l-6.3 9.1zm29.7 15.9 4.4-18.4-8-21.8h6.7l5 13.7c.1.4.2.8.4 1.4.2.6.3 1.2.5 1.8l1.2-1.8c.4-.6.8-1.1 1.2-1.6l11.7-13.5h6.4L399 362.5l-4.4 18.4h-6.4zm60.9-19.9c0-.3.1-1.2.3-2.6.1-1.2.2-2.1.3-2.9-.4.9-.8 1.8-1.3 2.8-.5.9-1.1 1.9-1.8 2.8l-15.4 21.5-5-21.9c-.2-.9-.4-1.8-.5-2.6-.1-.8-.2-1.7-.2-2.5-.2.8-.5 1.7-.8 2.7-.3.9-.7 1.9-1.2 2.9l-9 19.8h-5.9l19.3-42 5.5 25.4c.1.4.2 1.1.3 2 .1.9.3 2.1.5 3.5.7-1.2 1.6-2.6 2.8-4.4.3-.5.6-.8.7-1.1l17.4-25.4-.6 42h-5.9l.5-20zm10.6 19.9 9.6-40.3h21.9l-1.3 5.6h-15.5l-2.4 10.1h15.5l-1.4 5.7h-15.5l-3.1 13H483l-1.4 5.9h-21.9zm29.2 0 10-41.9 19 24.6c.5.7 1 1.4 1.5 2.2.5.8 1 1.7 1.6 2.7l6.7-27.9h5.9l-10 41.8-19.4-25.1-1.5-2.1c-.5-.8-.9-1.5-1.2-2.4l-6.7 28h-5.9zm65.1-34.8-8.3 34.7h-6.4l8.3-34.7h-10.4l1.3-5.6h27.2l-1.3 5.6H554zm6.7 26.7 5.7-2.4c.1 1.8.6 3.2 1.7 4.1 1.1.9 2.6 1.4 4.6 1.4 1.9 0 3.5-.5 4.9-1.6 1.4-1.1 2.3-2.5 2.7-4.3.6-2.4-.8-4.5-4.2-6.3-.5-.3-.8-.5-1.1-.6-3.8-2.2-6.2-4.1-7.2-5.9-1-1.8-1.2-3.9-.6-6.4.8-3.3 2.5-5.9 5.2-8 2.7-2 5.7-3.1 9.3-3.1 2.9 0 5.2.6 6.9 1.7 1.7 1.1 2.6 2.8 2.9 4.9l-5.6 2.6c-.5-1.3-1.1-2.2-1.9-2.8-.8-.6-1.8-.9-3-.9-1.7 0-3.2.5-4.4 1.4-1.2.9-2 2.1-2.4 3.7-.6 2.4 1.1 4.7 5 6.8.3.2.5.3.7.4 3.4 1.8 5.7 3.6 6.7 5.4 1 1.8 1.2 3.9.6 6.6-.9 3.8-2.8 6.8-5.7 9.1-2.9 2.2-6.3 3.4-10.3 3.4-3.3 0-5.9-.8-7.7-2.4-2-1.6-2.9-3.9-2.8-6.8zm47.1 8.1 9.6-40.3h6.4l-9.6 40.3h-6.4zm15.6 0 10-41.9 19 24.6c.5.7 1 1.4 1.5 2.2.5.8 1 1.7 1.6 2.7l6.7-27.9h5.9l-10 41.8-19.4-25.1-1.5-2.1c-.5-.8-.9-1.5-1.2-2.4l-6.7 28h-5.9zm65.1-34.8-8.3 34.7h-6.4l8.3-34.7h-10.4l1.3-5.6h27.2l-1.3 5.6h-10.4zm6.9 34.8 9.6-40.3h22l-1.3 5.6h-15.5l-2.4 10.1h15.5l-1.4 5.7h-15.5l-3.1 13h15.5l-1.4 5.9h-22zm39.5-18.1-4.3 18h-6l9.6-40.3h8.9c2.6 0 4.6.2 5.9.5 1.4.3 2.5.9 3.3 1.7 1 1 1.6 2.2 1.9 3.8.3 1.5.2 3.2-.2 5.1-.8 3.2-2.1 5.8-4.1 7.6-2 1.8-4.5 2.9-7.5 3.3l9.1 18.3h-7.2l-8.7-18h-.7zm1.6-5.1h1.2c3.4 0 5.7-.4 7-1.2 1.3-.8 2.2-2.2 2.7-4.3.5-2.2.3-3.8-.7-4.7-1-.9-3.1-1.4-6.3-1.4h-1.2l-2.7 11.6zm18.9 23.2 9.6-40.3h21.9l-1.3 5.6h-15.5l-2.4 10h15.5l-1.4 5.7h-15.5l-4.5 18.9h-6.4zm52.8 0-2-10.4h-15.6l-7 10.4h-6.7l29-41.9 9 41.9h-6.7zm-13.9-15.9h10.9l-1.8-9.2c-.1-.6-.2-1.3-.2-2-.1-.8-.1-1.6-.1-2.5-.4.9-.8 1.7-1.3 2.5-.4.8-.8 1.5-1.2 2.1l-6.3 9.1zm62.2-14.6c-1.4-1.6-3.1-2.8-4.9-3.5-1.8-.8-3.8-1.2-6.1-1.2-4.3 0-8.1 1.4-11.5 4.2-3.4 2.8-5.6 6.5-6.7 11-1 4.3-.6 7.9 1.4 10.8 1.9 2.8 4.9 4.2 8.9 4.2 2.3 0 4.6-.4 6.9-1.3 2.3-.8 4.6-2.1 7-3.8l-1.8 7.4c-2 1.3-4.1 2.2-6.3 2.8-2.2.6-4.4.9-6.8.9-3 0-5.7-.5-8-1.5s-4.2-2.5-5.7-4.5c-1.5-1.9-2.4-4.2-2.8-6.8-.4-2.6-.3-5.4.5-8.4.7-3 1.9-5.7 3.5-8.3 1.6-2.6 3.7-4.9 6.1-6.8 2.4-2 5-3.5 7.8-4.5s5.6-1.5 8.5-1.5c2.3 0 4.4.3 6.4 1 1.9.7 3.7 1.7 5.3 3.1l-1.7 6.7zm.6 30.5 9.6-40.3h21.9l-1.3 5.6h-15.5l-2.4 10.1h15.5l-1.4 5.7H868l-3.1 13h15.5L879 381h-21.9z" /><path fill="#70706e" d="M740.7 305.6h-43.9l61-220.3h43.9l-61 220.3zM717.9 92.2c-3-4.2-7.7-6.3-14.1-6.3H462.6l-11.9 43.2h219.4l-12.8 46.1H481.8v-.1h-43.9l-36.4 131.5h43.9l24.4-88.2h197.3c6.2 0 12-2.1 17.4-6.3 5.4-4.2 9-9.4 10.7-15.6l24.4-88.2c1.9-6.6 1.3-11.9-1.7-16.1zm-342 199.6c-2.4 8.7-10.4 14.8-19.4 14.8H130.2c-6.2 0-10.8-2.1-13.8-6.3-3-4.2-3.7-9.4-1.9-15.6l55.2-198.8h43.9l-49.3 177.6h175.6l49.3-177.6h43.9l-57.2 205.9z" /><path fill="#098041" d="M877.5 85.7 933 196.1 816.3 306.5z" /><path fill="#e97626" d="M838.5 85.7 894 196.1 777.2 306.5z" /></svg>
                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                    <div class="text-right"><a href="javascript:void(0)" class="btn-normal btn">Place Order</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- section end -->