@{
    Layout = "_layout"; 
}


<!--top brand panel start-->
<section class="brand-panel">
  <div class="brand-panel-box">
    <div class="brand-panel-contain ">
      <ul>
        <li><a href="javascript:void(0)">top brand</a></li>
        <li><a>:</a></li>
        <li><a href="category-page(left-sidebar).html">aerie</a></li>
        <li><a href="category-page(left-sidebar).html">baci lingrie</a></li>
        <li><a href="category-page(left-sidebar).html">gerbe</a></li>
        <li><a href="category-page(left-sidebar).html">jolidon</a></li>
        <li><a href="category-page(left-sidebar).html">Wonderbra</a></li>
        <li><a href="category-page(left-sidebar).html">Ultimo</a></li>
        <li><a href="category-page(left-sidebar).html">Vassarette </a></li>
        <li><a href="category-page(left-sidebar).html">Oysho</a></li>
      </ul>
    </div>
  </div>
</section>
<!--top brand panel end-->

<!--slider start-->
<section id="secDvBanner"></section>

<!--collection banner end-->

<!--discount banner start-->
<section class="discount-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="discount-banner-contain">
          <h2>Discount on every single item on our site.</h2>
          <h1><span>OMG! Just Look at the</span> <span>great Deals!</span></h1>
          <div class="rounded-contain rounded-inverse">
            <div class="rounded-subcontain">
              How does it feel, when you see great discount deals for each product?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--discount banner end-->

<!--tab product-->
<section class="section-pt-space"  >
  <div class="tab-product-main">
    <div class="tab-prodcut-contain">
      <ul class="tabs tab-title" id="secTopCategory">
      </ul>
    </div>
  </div>
</section>
<!--tab product-->

<!-- slider tab  -->
<section class="section-py-space ratio_square product">
  <div class="custom-container">
    <div class="row">
      <div class="col pr-0">
        <div class="theme-tab product mb--5">
          <div class="tab-content-cls " id="secDvPRodByCat">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- slider tab end -->

<!--collection banner start-->
<section class="collection-banner section-pb-space ">
  <div class="custom-container">
    <div class="row">
      <div class="col">
        <div class="collection-banner-main banner-5 p-center">
          <div class="collection-img">
            <img src="~/assets/images/layout-2/collection-banner/7.jpg" class="bg-img  " alt="banner">
          </div>
          <div class="collection-banner-contain ">
            <div class="sub-contain">
              <h3>save up to 30% off</h3>
              <h4>women<span>fashion</span></h4>
              <div class="shop">
                <a class="btn btn-normal" href="product-page(left-sidebar).html">
                  shop now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--collection banner end-->

<!--deal banner start-->
<section class="deal-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="deal-banner-containe">
          <h2>
            save up to  30% to 40% off
          </h2>
          <h1>
            omg! just look at the great deals!
          </h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 ">
        <div class="deal-banner-containe">
          <diV class="deal-btn">
            <a href="category-page(left-sidebar).html" class="btn-white">
              View more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--deal banner end-->




<!-- media banner tab start-->
<section class=" ratio_square" >
    
<div class="custom-container b-g-white section-pb-space">
    <div class="row">
      <div class="col p-0">
        <div class="theme-tab product">
          <ul class="tabs tab-title media-tab">
            <li class="current"><a href="tab-1">new product</a></li>
            <li class=""><a href="tab-2">Feature Products</a></li>
            <li class=""><a href="tab-3">best Sellers</a></li>
            <li class=""><a href="tab-4">On Sale</a></li>
          </ul>
          <div class="tab-content-cls" id="secDvProduct">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- media banner tab end -->




<!--hot deal start-->
<section class="hot-deal hotdeal-first b-g-white section-big-pb-space space-abjust">
  <div class="custom-container">
    <div class="row hot-2 ">
      <div class="col-12">
        <!--title start-->
        <div class="title3 b-g-white text-left">
          <h4>today's hot deal</h4>
        </div>
        <!--titel end-->
      </div>
      <div class="col-lg-9">
        <div class="slide-1 no-arrow">
          <div>
            <div class="hot-deal-contain ">
              <div class="row hot-deal-subcontain hotdeal-block1">
                <div class="col-lg-4 col-md-4  ">
                  <div class="hotdeal-right-slick border-0">
                    <a href="product-page(left-sidebar).html">
                      <div class="img-wrraper">
                        <div>
                          <img src="~/assets/images/layout-2/hot-deal/8.jpg" alt="hot-deal" class="img-fluid  bg-img">
                        </div>
                      </div>
                    </a>
                    <a href="product-page(left-sidebar).html">
                      <div class="img-wrraper">
                        <div>
                          <img src="~/assets/images/layout-2/hot-deal/7.jpg" alt="hot-deal" class="img-fluid  bg-img">
                        </div>
                      </div>
                    </a>
                    <a href="product-page(left-sidebar).html">
                      <div class="img-wrraper">
                        <div>
                          <img src="~/assets/images/layout-2/hot-deal/6.jpg" alt="hot-deal" class="img-fluid  bg-img">
                        </div>
                      </div>
                    </a>
                    <a href="product-page(left-sidebar).html">
                      <div class="img-wrraper">
                        <div>
                          <img src="~/assets/images/layout-2/hot-deal/5.jpg" alt="hot-deal" class="img-fluid  bg-img">
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 deal-order-3">
                  <div class="hotdeal-right-slick border-0">
                    <div>
                      <div>
                        <a href="product-page(left-sidebar).html">
                          <h5>oppo find x2 </h5>
                        </a>
                        <ul class="rating">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <p>
                          It is a long established fact that a reader. It is a long established fact that a reader.It is a long established fact that a reader. It is a long established fact that a reader.
                        </p>
                        <h6>$50.30 <span>60.00</span></h6>
                        <div class="timer">
                          <p id="demo">
                          </p>
                        </div>
                        <a href="product-page(left-sidebar).html" class="btn btn-normal btn-md ">shop now</a>
                      </div>
                    </div>
                    <div>
                      <div>
                        <a href="product-page(left-sidebar).html">
                          <h5>wooden owl </h5>
                        </a>
                        <ul class="rating">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <p>
                          It is a long established fact that a reader. It is a long established fact that a reader.It is a long established fact that a reader. It is a long established fact that a reader.
                        </p>
                        <h6>$60.30 <span>70.00</span></h6>
                        <div class="timer">
                          <p id="demo1">
                          </p>
                        </div>
                        <a href="product-page(left-sidebar).html" class="btn btn-normal btn-md ">shop now</a>
                      </div>
                    </div>
                    <div>
                      <div>
                        <a href="product-page(left-sidebar).html">
                          <h5>office cotton seat </h5>
                        </a>
                        <ul class="rating">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <p>
                          It is a long established fact that a reader. It is a long established fact that a reader.It is a long established fact that a reader. It is a long established fact that a reader.
                        </p>
                        <h6>$45.30 <span>50.00</span></h6>
                        <div class="timer">
                          <p id="demo2">
                          </p>
                        </div>
                        <a href="product-page(left-sidebar).html" class="btn btn-normal btn-md ">shop now</a>
                      </div>
                    </div>
                    <div>
                      <div>
                        <a href="product-page(left-sidebar).html">
                          <h5>Generic Rock Earphone </h5>
                        </a>
                        <ul class="rating">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <p>
                          It is a long established fact that a reader. It is a long established fact that a reader.It is a long established fact that a reader. It is a long established fact that a reader.
                        </p>
                        <h6>$85.30 <span>90.00</span></h6>
                        <div class="timer">
                          <p id="demo3">
                          </p>
                        </div>
                        <a href="product-page(left-sidebar).html" class="btn btn-normal btn-md ">shop now</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 ">
                  <div class="hotdeal-right-nav">
                    <div><img src="~/assets/images/layout-2/hot-deal/8.jpg" alt="hot-dea" class="img-fluid  " ></div>
                    <div><img src="~/assets/images/layout-2/hot-deal/7.jpg" alt="hot-dea" class="img-fluid  " ></div>
                    <div><img src="~/assets/images/layout-2/hot-deal/6.jpg" alt="hot-dea" class="img-fluid  " ></div>
                    <div><img src="~/assets/images/layout-2/hot-deal/5.jpg" alt="hot-dea" class="img-fluid  " ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="slide-1-section no-arrow">
          <div>
            <div class="media-banner border-0">
              <div class="media-banner-box">
                <div class="media-heading">
                  <h5>New Products</h5>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <a href="product-page(left-sidebar).html">
                    <img src="~/assets/images/layout-2/media-banner/1.jpg" class="img-fluid " alt="banner">
                  </a>
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="product-detail">
                          <ul class="rating">
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star-o" ></i></li>
                          </ul>
                          <a href="product-page(left-sidebar).html"><p>Bajaj GX-1 Mixer</p></a>
                          <h6>$42.05 <span>$47.21</span></h6>
                        </div>
                        <div class="cart-info">
                          <button  onclick="openCart()" class="tooltip-top" data-tippy-content="Add to cart"><i  data-feather="shopping-cart"></i></button>
                          <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" ><i  data-feather="heart"></i></a>
                          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                          <a href="compare.html"  class="tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <a href="product-page(left-sidebar).html">
                    <img src="~/assets/images/layout-2/media-banner/2.jpg" class="img-fluid " alt="banner">
                  </a>
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="product-detail">
                          <ul class="rating">
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star-o" ></i></li>
                          </ul>
                          <a href="product-page(left-sidebar).html"><p>rechargeable  fan</p></a>
                          <h6>$47.05 <span>$52.21</span></h6>
                        </div>
                        <div class="cart-info">
                          <button  onclick="openCart()" class="tooltip-top" data-tippy-content="Add to cart"><i  data-feather="shopping-cart"></i></button>
                          <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" ><i  data-feather="heart"></i></a>
                          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                          <a href="compare.html"  class="tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <a href="product-page(left-sidebar).html">
                    <img src="~/assets/images/layout-2/media-banner/3.jpg" class="img-fluid " alt="banner">
                  </a>
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="product-detail">
                          <ul class="rating">
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star-o" ></i></li>
                          </ul>
                          <a href="product-page(left-sidebar).html"><p>sumsung galaxy</p></a>
                          <h6>$57.05 <span>$75.21</span></h6>
                        </div>
                        <div class="cart-info">
                          <button  onclick="openCart()" class="tooltip-top" data-tippy-content="Add to cart"><i  data-feather="shopping-cart"></i></button>
                          <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" ><i  data-feather="heart"></i></a>
                          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                          <a href="compare.html"  class="tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media-view">
                  <h5>View More</h5>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="media-banner border-0">
              <div class="media-banner-box">
                <div class="media-heading">
                  <h5>New Products</h5>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <a href="product-page(left-sidebar).html">
                    <img src="~/assets/images/layout-2/media-banner/3.jpg" class="img-fluid " alt="banner">
                  </a>
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="product-detail">
                          <ul class="rating">
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star-o" ></i></li>
                          </ul>
                          <a href="product-page(left-sidebar).html"><p>sumsung galaxy</p></a>
                          <h6>$78.05 <span>$68.21</span></h6>
                        </div>
                        <div class="cart-info">
                          <button  onclick="openCart()" class="tooltip-top" data-tippy-content="Add to cart"><i  data-feather="shopping-cart"></i></button>
                          <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" ><i  data-feather="heart"></i></a>
                          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                          <a href="compare.html"  class="tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <a href="product-page(left-sidebar).html">
                    <img src="~/assets/images/layout-2/media-banner/1.jpg" class="img-fluid " alt="banner">
                  </a>
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="product-detail">
                          <ul class="rating">
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star-o" ></i></li>
                          </ul>
                          <a href="product-page(left-sidebar).html"><p>Bajaj GX-1 Mixer</p></a>
                          <h6>$72.05 <span>$63.21</span></h6>
                        </div>
                        <div class="cart-info">
                          <button  onclick="openCart()" class="tooltip-top" data-tippy-content="Add to cart"><i  data-feather="shopping-cart"></i></button>
                          <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" ><i  data-feather="heart"></i></a>
                          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                          <a href="compare.html"  class="tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <a href="product-page(left-sidebar).html">
                    <img src="~/assets/images/layout-2/media-banner/2.jpg" class="img-fluid " alt="banner">
                  </a>
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="product-detail">
                          <ul class="rating">
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star-o" ></i></li>
                          </ul>
                          <a href="product-page(left-sidebar).html"><p>rechargeable  fan</p></a>
                          <h6>82.05 <span>$75.21</span></h6>
                        </div>
                        <div class="cart-info">
                          <button  onclick="openCart()" class="tooltip-top" data-tippy-content="Add to cart"><i  data-feather="shopping-cart"></i></button>
                          <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" ><i  data-feather="heart"></i></a>
                          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                          <a href="compare.html"  class="tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="media-banner-box">
                <div class="media-view">
                  <h5>View More</h5>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="media-banner border-0">
              <div class="media-banner-box">
                <div class="media-heading">
                  <h5>New Products</h5>
                </div>
              </div>

              <div class="media-banner-box">
                <div class="media">
                  <a href="product-page(left-sidebar).html">
                    <img src="~/assets/images/layout-2/media-banner/2.jpg" class="img-fluid " alt="banner">
                  </a>
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="product-detail">
                          <ul class="rating">
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star-o" ></i></li>
                          </ul>
                          <a href="product-page(left-sidebar).html"><p>rechargeable  fan</p></a>
                          <h6>$79.05 <span>$47.21</span></h6>
                        </div>
                        <div class="cart-info">
                          <button  onclick="openCart()" class="tooltip-top" data-tippy-content="Add to cart"><i  data-feather="shopping-cart"></i></button>
                          <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" ><i  data-feather="heart"></i></a>
                          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                          <a href="compare.html"  class="tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <a href="product-page(left-sidebar).html">
                    <img src="~/assets/images/layout-2/media-banner/3.jpg" class="img-fluid " alt="banner">
                  </a>
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="product-detail">
                          <ul class="rating">
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star-o" ></i></li>
                          </ul>
                          <a href="product-page(left-sidebar).html"><p>sumsung galaxy</p></a>
                          <h6>$51.05 <span>$76.21</span></h6>
                        </div>
                        <div class="cart-info">
                          <button  onclick="openCart()" class="tooltip-top" data-tippy-content="Add to cart"><i  data-feather="shopping-cart"></i></button>
                          <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" ><i  data-feather="heart"></i></a>
                          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                          <a href="compare.html"  class="tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media">
                  <a href="product-page(left-sidebar).html">
                    <img src="~/assets/images/layout-2/media-banner/1.jpg" class="img-fluid " alt="banner">
                  </a>
                  <div class="media-body">
                    <div class="media-contant">
                      <div>
                        <div class="product-detail">
                          <ul class="rating">
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star" ></i></li>
                            <li><i class="fa fa-star-o" ></i></li>
                          </ul>
                          <a href="product-page(left-sidebar).html"><p>Bajaj GX-1 Mixer</p></a>
                          <h6>$24.05 <span>$56.21</span></h6>
                        </div>
                        <div class="cart-info">
                          <button  onclick="openCart()" class="tooltip-top" data-tippy-content="Add to cart"><i  data-feather="shopping-cart"></i></button>
                          <a href="javascript:void(0)"  class="add-to-wish tooltip-top"  data-tippy-content="Add to Wishlist" ><i  data-feather="heart"></i></a>
                          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#quick-view" class="tooltip-top"  data-tippy-content="Quick View"><i  data-feather="eye"></i></a>
                          <a href="compare.html"  class="tooltip-top" data-tippy-content="Compare"><i  data-feather="refresh-cw"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-banner-box">
                <div class="media-view">
                  <h5>View More</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--hot deal start-->

<!--testimonial start-->
<!--<section class="testimonial testimonial-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slide-1 no-arrow">
          <div>
            <div class="testimonial-contain">
              <div class="media">
                <div class="testimonial-img">
                  <img src="~/assets/images/testimonial/1.jpg" class="img-fluid rounded-circle  " alt="testimonial">
                </div>
                <div class="media-body">
                  <h5>mark jecno</h5>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial-contain">
              <div class="media">
                <div class="testimonial-img">
                  <img src="~/assets/images/testimonial/2.jpg" class="img-fluid rounded-circle  " alt="testimonial">
                </div>
                <div class="media-body">
                  <h5>mark jecno</h5>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial-contain">
              <div class="media">
                <div class="testimonial-img">
                  <img src="~/assets/images/testimonial/3.jpg" class="img-fluid rounded-circle  " alt="testimonial">
                </div>
                <div class="media-body">
                  <h5>mark jecno</h5>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!--testimonial end-->



@section scripts{
    <script src="~/clientapp/js/index.js"></script>
}
 