@{
    Layout = "_layout"; 
}





<!--top brand panel start-->
<section class="brand-panel">
  <div class="brand-panel-box">
    <div class="brand-panel-contain">
      <ul class="topBrandPanel">
        <li><a href="javascript:void(0)">top brand</a></li>
        <li id="litopbrand"><a class="ab">:</a></li>
      </ul>
    </div>
  </div>
</section>
<!--top brand panel end-->
<!--rounded category start-->
<section class="rounded-category d-none"  id="dvroundCategory">
 
</section>
<!--rounded category end-->
<!--slider start-->
<section id="secDvBanner"></section>

<!--collection banner end-->

<!--discount banner start-->
<section class="discount-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="discount-banner-contain">
          <h2>Discount on every single item on our site.</h2>
          <h1><span>OMG! Just Look at the</span> <span>great Deals!</span></h1>
          <div class="rounded-contain rounded-inverse">
            <div class="rounded-subcontain">
              How does it feel, when you see great discount deals for each product?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--discount banner end-->

<!--tab product-->
<section class="section-pt-space"  >
  <div class="tab-product-main">
    <div class="tab-prodcut-contain">
      <ul class="tabs tab-title" id="secTopCategory">
      </ul>
    </div>
  </div>
</section>
<!--tab product-->

<!-- slider tab  -->
<section class="section-py-space ratio_square product">
  <div class="custom-container">
    <div class="row">
      <div class="col pr-0">
        <div class="theme-tab product mb--5">
          <div class="tab-content-cls " id="secDvPRodByCat">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- slider tab end -->

<!--collection banner start-->
<section class="collection-banner section-pb-space ">
  <div class="custom-container">
    <div class="row">
      <div class="col">
        <div class="collection-banner-main banner-5 p-center" id="dvofferbanner">
          
        </div>
      </div>
    </div>
  </div>
</section>
<!--collection banner end-->

<!--deal banner start-->
<section class="deal-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="deal-banner-containe">
          <h2>
            save up to  30% to 40% off
          </h2>
          <h1>
            omg! just look at the great deals!
          </h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 ">
        <div class="deal-banner-containe">
          <diV class="deal-btn">
            <a href="#" class="btn-white">
              View more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--deal banner end-->




<!-- media banner tab start-->
<section class=" ratio_square" >
    
<div class="custom-container b-g-white section-pb-space">
    <div class="row">
      <div class="col p-0">
        <div class="theme-tab product">
          <ul class="tabs tab-title media-tab">
            <li class="current"><a class="tabone" href="tab-1">new product</a></li>
            <li class=""><a href="tab-2">Feature Products</a></li>
            <li class=""><a href="tab-3">best Sellers</a></li>
            <li class=""><a href="tab-4">On Sale</a></li>
          </ul>
          <div class="tab-content-cls" id="secDvProduct">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- media banner tab end -->




<!--hot deal start-->
<section class="hot-deal hotdeal-first b-g-white section-big-pb-space space-abjust">
  <div class="custom-container">
    <div class="row hot-2 ">
      <div class="col-12">
        <!--title start-->
        <div class="title3 b-g-white text-left">
          <h4>today's hot deal</h4>
        </div>
        <!--titel end-->
      </div>
      <div class="col-lg-9">
        <div class="hotdeal-slide-1 no-arrow">
          <div>
            <div class="hot-deal-contain ">
              <div class="row hot-deal-subcontain hotdeal-block1" id="dvHotDeals">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="dvHotDealNewProduct">
        
      </div>
    </div>
  </div>
</section>


@section scripts{
    <script src="~/clientapp/js/index.js"></script>
}
 