@{
    Layout = "_layout";
}
@section Metatags{
    <!-- Meta -->
    <meta name="author" content="shop99">
    <meta name="description" content="Discover an extraordinary shopping destination at shop99.co.in! Your one-stop Multivendor E-Commerce Website offering an extensive array of products and services to fulfill all your desires. Shop with ease and excitement at Shop99 for an unparalleled online shopping experience. Visit us now at https://shop99.co.in/ and indulge in retail therapy like never before!" ">

    <!--OG Meta-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Shop99" />
    <meta property="og:url" content="https://shop99.co.in/" />
    <meta property="og:image" content="https://shop99.co.in/Image/OGBanner.jpg" />
    <meta property="og:description" content="Discover an extraordinary shopping destination at shop99.co.in! Your one-stop Multivendor E-Commerce Website offering an extensive array of products and services to fulfill all your desires. Shop with ease and excitement at Shop99 for an unparalleled online shopping experience. Visit us now at https://shop99.co.in/ and indulge in retail therapy like never before!" />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

}
<section class="section-big-py-space ratio_asos b-g-light">
    <div class="collection-wrapper">
        <div class="custom-container">
            <div class="row">
                <div class="col-sm-3 collection-filter category-side category-page-side padd-right-0">
                    <div class="_1KOcBL">
                        <section class="JWMl0H _2hbLCH">
                            <div class="_2ssEMF">
                                <div class="_3V8rao"><span>Filters</span></div>
                            </div>
                        </section>
                        <div class="_2q_g77">
                            <div class="collection-filter-block creative-inner category-side">
                                <!-- brand filter start -->
                                <div class="collection-mobile-back">
                                    <span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span>
                                </div>
                                <div id="filters"></div>
                            </div>
                        </div>

                        <div class="_2q_g77">
                            <div class="collection-collapse-block">
                                <h3 class="collapse-block-title mt-0">Price</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                        <div class="slider-wrapper">
                                            <div id="slider-range"></div>
                                            <div class="range-wrapper">
                                                <div class="range"></div>
                                                <div class="range-alert">+</div>

                                                <div class="gear-wrapper">
                                                    <div class="gear-large gear-one">
                                                        <div class="gear-tooth"></div>
                                                        <div class="gear-tooth"></div>
                                                        <div class="gear-tooth"></div>
                                                        <div class="gear-tooth"></div>
                                                    </div>
                                                    <div class="gear-large gear-two">
                                                        <div class="gear-tooth"></div>
                                                        <div class="gear-tooth"></div>
                                                        <div class="gear-tooth"></div>
                                                        <div class="gear-tooth"></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-9 padd-left-0">
                    <products></products>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            loadFilters();
            showfilter();
            loadFilteredProduct();
        });
        const getCategoryId = () => {
            var url = window.location.href;
            return url.substring(url.lastIndexOf('/') + 1);
        };

        var loadFilters = function() {
            let cid = getCategoryId();
            $.post("/Categoryfilters", { cid: cid }).done(function(result) {
                $('#filters').html(result);
            }).fail(function(xhr) {
                Q.notify(-1, xhr.responseText);
            });
        };
        const loadFilteredProduct = function (filters = '') {
            let url = new URL(window.location.href);
            let serachParam = url.pathname.split('/');
            console.log(serachParam)
            let filterBy = 'category';
            if (serachParam != null && serachParam.length >= 3) {
                filterBy = serachParam[2];
            }
            let param = {
                filterBy: filterBy,
                cid: getCategoryId(),
                sortBy: $('#sortItem').val(),
                top: $('#productPerPage').val(),
                filters
            };
            $.post("/Products/Filtered", param).done(res => {
                $('products').html(res);
            }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => "");
        };
        const loadFilteredProductAfter = function (__e) {
            let url = new URL(window.location.href);
            let serachParam = url.pathname.split('/');
            let filterBy = 'category';
            if (serachParam != null && serachParam.length >= 3) {
                filterBy = serachParam[2];
            }
            let param = {
                filterBy: filterBy,
                cid: getCategoryId(),
                sortBy: $('#sortItem').val(),
                top: $('#productPerPage').val(),
                filters: {}
            };
            param.start = $('.product-box').length;
            $.post("/Products/Filtered", param).done(res => {
                $(res).insertBefore(".load-more-sec");
                if ($('.load-more-sec').length > 1) {
                    $('.load-more-sec:first').remove();
                }
                if ($('.product-top-filter').length > 1) {
                    $('.product-top-filter:last').remove();
                }
                $('#range').text($('.product-box').length);
                if (parseInt($('#recordsTotal').text()) == parseInt($('.product-box').length)) {
                    $('.load-more-sec').empty().text('No More Data');
                }

            }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => "");
        };
        $(document).on('click', '.loadMore', function (e) {
            e.preventDefault();
            loadFilteredProductAfter(e);
        })
        


        let rangeMin = 100;
        const range = document.querySelector(".range-selected");
        const rangeInput = document.querySelectorAll(".range-input input");
        const rangePrice = document.querySelectorAll(".range-price input");

        rangeInput.forEach((input) => {
            input.addEventListener("input", (e) => {
                let minRange = parseInt(rangeInput[0].value);
                let maxRange = parseInt(rangeInput[1].value);
                if (maxRange - minRange < rangeMin) {
                    if (e.target.className === "min") {
                        rangeInput[0].value = maxRange - rangeMin;
                    } else {
                        rangeInput[1].value = minRange + rangeMin;
                    }
                } else {
                    rangePrice[0].value = minRange;
                    rangePrice[1].value = maxRange;
                    range.style.left = (minRange / rangeInput[0].max) * 100 + "%";
                    range.style.right = 100 - (maxRange / rangeInput[1].max) * 100 + "%";
                }
            });
        });

        rangePrice.forEach((input) => {
            input.addEventListener("input", (e) => {
                let minPrice = rangePrice[0].value;
                let maxPrice = rangePrice[1].value;
                if (maxPrice - minPrice >= rangeMin && maxPrice <= rangeInput[1].max) {
                    if (e.target.className === "min") {
                        rangeInput[0].value = minPrice;
                        range.style.left = (minPrice / rangeInput[0].max) * 100 + "%";
                    } else {
                        rangeInput[1].value = maxPrice;
                        range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                    }
                }
            });
        });
        var showfilter = function () {
            $('#dvfilter').removeClass('d-none');
        }
    </script>

    <script>
        $(function () {

            // Initiate Slider
            $('#slider-range').slider({
                range: true,
                min: 999,
                max: 99999,
                step: 1000,
                values: [999, 99999]
            });
            $('.ui-slider-range').append($('.range-wrapper'));
            $('.range').html('<span class="range-value range-value_min"><sup>₹</sup>' + $('#slider-range').slider("values", 0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</span><span class="range-divider"></span><span class="range-value range-value_max"><sup>₹</sup>' + $("#slider-range").slider("values", 1).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</span>');
            $('.ui-slider-handle, .ui-slider-range').on('mousedown', function () {
                $('.gear-large').addClass('active');
            });
            $(document).on('mouseup', function () {
                if ($('.gear-large').hasClass('active')) {
                    $('.gear-large').removeClass('active');
                }
            });
            var gearOneAngle = 0,
                gearTwoAngle = 0,
                rangeWidth = $('.ui-slider-range').css('width');

            $('.gear-one').css('transform', 'rotate(' + gearOneAngle + 'deg)');
            $('.gear-two').css('transform', 'rotate(' + gearTwoAngle + 'deg)');
            
            var typingTimer;                //timer identifier
            var doneTypingInterval = 100;
            
            $('#slider-range').slider({
                slide: function (event, ui) {
                    $('.range').html('<span class="range-value range-value_min" onchange="Filterdata()"><sup>₹</sup>' + ui.values[0].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</span><span class="range-divider"></span><span class="range-value range-value_max"><sup>₹</sup>' + ui.values[1].toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</span>');
                    var previousVal = parseInt($(this).data('value'));
                    $(this).data({
                        'value': parseInt(ui.value)
                    });
                    if (ui.values[0] == ui.value) {
                        if (previousVal > parseInt(ui.value)) {
                            gearOneAngle -= 7;
                            $('.gear-one').css('transform', 'rotate(' + gearOneAngle + 'deg)');
                        } else {
                            gearOneAngle += 7;
                            $('.gear-one').css('transform', 'rotate(' + gearOneAngle + 'deg)');
                        }

                    } else {
                        if (previousVal > parseInt(ui.value)) {
                            gearOneAngle -= 7;
                            $('.gear-two').css('transform', 'rotate(' + gearOneAngle + 'deg)');
                        } else {
                            gearOneAngle += 7;
                            $('.gear-two').css('transform', 'rotate(' + gearOneAngle + 'deg)');
                        }

                    }

                    if (ui.values[1] === 110000) {
                        if (!$('.range-alert').hasClass('active')) {
                            $('.range-alert').addClass('active');
                        }
                    } else {
                        if ($('.range-alert').hasClass('active')) {
                            $('.range-alert').removeClass('active');
                        }
                    }


                    /* Call methos on stop sliding */
                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(function () {
                        getFileterdData($('.range-value_min:eq(0)').text(), $('.range-value_max:eq(0)').text())
                    }, doneTypingInterval);
                    /* End -- Call methos on stop sliding */
                }
            });
            $('.range, .range-alert').on('mousedown', function (event) {
                event.stopPropagation();
            });
        });

        var getFileterdData = (min, max) => {
            console.log(min, max);
        }
    </script>
}