@{
    Layout = "_layout";
}
<!-- section start -->
@*<section class="section-big-py-space ratio_asos b-g-light" id="dvCategoryProducts">

</section>*@
<section class="section-big-py-space ratio_asos b-g-light">
    <div class="collection-wrapper">
        <div class="custom-container">
            <div class="row">
                <div class="col-sm-3 collection-filter category-side category-page-side">
                    <!-- side-bar colleps block stat -->
                    <div class="collection-filter-block creative-card creative-inner category-side">
                        <!-- brand filter start -->
                        <div class="collection-mobile-back">
                            <span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span>
                        </div>
                        <div id="dvfilters">
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <products></products>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script>

        $(document).ready(function(){
             var url= window.location.href;
             var id = url.substring(url.lastIndexOf('/') + 1);
             loadFilters(id);
             loadCategoryProducts(id);
            });
          

            const loadCategoryProducts = function (cid) {
            $.post("/ProductsByCategoryFilter",{cid:cid}).done(res => {
                $('products').html(res);
            }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => "");
        }
        const loadFilters = function (cid) {
            $.post("/categoryfilters",{cid:cid}).done(res => {
                $('#dvfilters').html(res);
            }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => "");
        }
</script>
}