@{
    Layout = "_layout";
}
<!-- section start -->
@*<section class="section-big-py-space ratio_asos b-g-light" id="dvCategoryProducts">

</section>*@
<section class="section-big-py-space ratio_asos b-g-light">
    <div class="collection-wrapper">
        <div class="custom-container">
            <div class="row">
                <div class="col-sm-3 collection-filter category-side category-page-side">
                    <!-- side-bar colleps block stat -->
                    <div class="collection-filter-block creative-card creative-inner category-side">
                        <!-- brand filter start -->
                        <div class="collection-mobile-back">
                            <span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span>
                        </div>
                        <div id="dvfilters">
                        </div>
                        	<div class="_2q_g77">
							<div class="collection-collapse-block">
								<h3 class="collapse-block-title mt-0">Price</h3>
								<div class="collection-collapse-block-content">
									<div class="collection-brand-filter">
										<div class="range mt-5">
											<div class="range-slider">
												<span class="range-selected"></span>
											</div>
											<div class="range-input">
												<input type="range" class="min" min="0" max="1000" value="300" step="10">
												<input type="range" class="max" min="0" max="1000" value="700" step="10">
											</div>
											<div class="range-price">
												<label for="min">Min</label>
												<input type="number" name="min" value="300">
												<label for="max">Max</label>
												<input type="number" name="max" value="700">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>


                </div>
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="collection-product-wrapper">
                                    @*<div class="product-top-filter">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="filter-main-btn"><span class="filter-btn btn btn-theme"><i class="fa fa-filter" aria-hidden="true"></i> Filter</span></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="product-filter-content">
                                                    <div class="search-count">
                                                        <h5>Showing Products 1-24 of 10 Result</h5>
                                                    </div>
                                                    <div class="collection-view">
                                                        <ul>
                                                            <li><i class="fa fa-th grid-layout-view"></i></li>
                                                            <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="collection-grid-view">
                                                        <ul>
                                                            <li><img src="~/assets/images/category/icon/2.png" alt="" class="product-2-layout-view"></li>
                                                            <li><img src="~/assets/images/category/icon/3.png" alt="" class="product-3-layout-view"></li>
                                                            <li><img src="~/assets/images/category/icon/4.png" alt="" class="product-4-layout-view"></li>
                                                            <li><img src="~/assets/images/category/icon/6.png" alt="" class="product-6-layout-view"></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-page-per-view">
                                                        <select>
                                                            <option value="High to low">24 Products Par Page</option>
                                                            <option value="Low to High">50 Products Par Page</option>
                                                            <option value="Low to High">100 Products Par Page</option>
                                                        </select>
                                                    </div>
                                                    <div class="product-page-filter">
                                                        <select>
                                                            <option value="High to low">Sorting items</option>
                                                            <option value="Low to High">50 Products</option>
                                                            <option value="Low to High">100 Products</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="product-wrapper-grid product-load-more product">
                                        <div class="row" id="dvProducts">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        const getBrandId = () => {
            var url = window.location.href;
            return url.substring(url.lastIndexOf('/') + 1);
        };
        $(document).ready(function () {
            loadFilters();
            loadProducts();
        });


        const loadProducts = function (filters = '') {
            loadMain(filters);
        }
        const loadProductsByCategory = function (filters = '') {
            loadMain(filters);
        }
        const loadMain = function (filters = '') {
            let param = {
                cid: getBrandId(),
                sortBy: $('#sortItem').val(),
                filters
            };
            $.post("/ProductsByBID", param).done(res => {
                $('#dvProducts').html(res);
            }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => "");
        }
        
        const loadFilters = function () {
            $.post("/categoryfilters", { cid: getBrandId() }).done(res => {
                $('#dvfilters').html(res);
            }).fail(xhr => Q.notify(-1, xhr.responseText)).always(() => "");
        }
    </script>
}