@{
	Layout = "_layout";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">

<style>
	body {
    font-family: 'Rubik', sans-serif;
	color: #212529;
	font-weight:500;
}

	.about-page p{
		margin-bottom:10px;
	}

	.about-page p span{
		margin-right:10px;
		font-wight:500;
	}

	.ml-3{
		margin-left:2rem;
	}

	.post-single ol li {
      padding-left: 1rem;
	  margin-bottom:10px;
}

.post-single ol li {
   list-style-type: decimal;
    display: list-item;
    padding-left: 12px;
    line-height: 25px;
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}
</style>


<div class="breadcrumb-main ">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="breadcrumb-contain">
					<div>
						<h2>Shipping And Returns</h2>
						<ul>
							<li><a href="javascript:void(0)">home</a></li>
							<li><i class="fa fa-angle-double-right"></i></li>
							<li><a href="javascript:void(0)">Shipping And Returns</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="about-page section-big-py-space post-single">
	<div class="container">
		<div class="row">

			<div class="col-lg-12 ">
				<h4>Shipping Policy:</h4>
				<p> Standard shipping is free for ALL orders above Rs.99/- and for orders less than Rs.99/- standard shipping charges of Rs 100/- will apply.</p>
				<p> Orders shipped via Shiprocket courier will take 2-3 Days, Orders shipped via an economy courier may take up to 5-8 days depending on your location. </p>
				<p> Orders on an average takes <b>48-72 hrs</b> to be processed, picked, packed and shipped. Each order would be shipped only to a single destination address specified at the time of payment for that order. If you wish to ship products to a different address, you shall need to place multiple orders. Once the products are shipped from our location, the shipper’s reference number (airway bill number/docket number) will be sent to you through email/sms/whatsapp.</p>

				<p>You can also track the shipping status of your order on our website, by visiting the <b>Track your Order section.</b></p>
				<p>Please note Shop99 is closed on Sunday and major holidays. Orders received on Saturday after 12 pm and Sunday will begin processing the following Monday.</p>
				<p>If you do not receive your tracking email please contact: <b>support@shop99.co.in</b></p>

				<h4>Return Policy:</h4>

				<ol>
					<li>In case you receive a damaged / defective product or a product that does not comply with the specifications as per your original order, you are required to get in touch with the customer service team through any of the below-mentioned channels:
						
							<p><span>a.</span> Email Us at support@shop99.co.in. Monday-Saturday (10:00 am-7:00 pm).  WhatsApp at  <b>+91-8920114845</b></p>
						
					</li>

					<li>Upon receiving your complaint, SHOP99 shall verify the authenticity and the nature of the complaint and if SHOP99 is convinced that the complaint is genuine, SHOP99 will process your request for a replacement.</li>
					<li>Before accepting shipment of any product, kindly ensure that the product's packaging is not damaged or tampered. If you observe that the package is damaged or tampered, request you to refuse to accept delivery and inform SHOP99 at the earliest. The return process of the product may be restricted by SHOP99 depending on the nature and category of the product.</li>
					<li>In order to return any products sold through the Website, You are required to comply with the below-mentioned conditions, via:
						<p > <span>a.</span> Please notify SHOP99 of receipt of a damaged/ defective product/service within 24-hours of delivery to you. If you are unable to do so within 24-hours, SHOP99 shall not be held liable for the failure to replace the order.</p>
				<p> <span>b.</span> The product should be unused.
				<p> <span>c.</span> SHOP99 will arrange pick-up of the damaged/defective product through its own logistics partner. In the event SHOP99 is unable to do so, SHOP99 will notify you regarding the same and you will be required to dispatch the product using a reputed courier in your respective area within one-two days from receipt of such notice. Courier freight charges will be reimbursed in such form as is determined by the logistics team upon prior consultation with SHOP99.</p>
				<p><span>d.</span> Products should be returned in their original packaging along with the original price tags, labels, barcodes, user manual, warranty card and invoices etc. It is advised that the return packets should be strongly and adequately packaged so that there is no further damage to products during transit.</p>
				<p><span>e.</span> The returned products are subject to verification and checks by SHOP99 in order to determine the legitimacy of the complaint/ return.</p>

					</li>
					<li>In the event the return of a product is duly accepted by SHOP99, the value of such product, as originally paid by you during acceptance of delivery of the product or otherwise, will be refunded to you. Refund will be processed based on the mode of payment and SHOP99 or the approved payment gateway will credit Your refunds directly into your debit/credit card or online accounts or provide you with a cheque in this regard. Refunds will be subject to the following:
						<p> <span>a.</span> Orders paid online will be refunded within 7-21 working days through the online account or via cheque, depending on the then-current circumstances as determined by SHOP99.</p>
				<p> <span>b.</span> For Cash on Delivery payments, you will be provided with a refund cashback in your account.</p>
				<p> <span>c.</span> If the product is used it will be repaired by the service centre, SHOP99 would get the same repaired and send it back to you (courier charges apply and if warranty is void then repairing charges also apply).</p>
				<p><span>d.</span> A promo code, once used shall not be refunded in case of cancellation of order either by customer or SHOP99</p>

					</li>

					<li>James's flamingo</li>
				</ol>

				
				

				<h4>Cancellation Policy</h4>
				<ol>
					<li><b>Cancellation by SHOP99:</b> There may be certain orders that SHOP99 is unable to accept and must cancel. SHOP99 reserves the right, at SHOP99 sole discretion, to refuse or cancel any order for any reason whatsoever. Some situations that may result in your order being cancelled include, without limitation, non-availability of the product or quantities ordered by you, non- availability of the service, inaccuracies or errors in pricing information, or problems identified by SHOP99 credit and fraud avoidance department. SHOP99 may also require additional verifications or information before accepting any order. SHOP99 will contact you if all or any portion of your order is cancelled or if additional information is required to accept your order. If your order is cancelled after your credit card has been charged, the said amount will be reversed back in your credit card account. A promo code, once used shall not be refunded in case of cancellation of order either by Customer or SHOP99.</li>
				<li><b>Cancellation by the User:</b>  In case of requests for order cancellations, SHOP99 reserves the right to reject requests for order cancellations for any reason whatsoever. As part of usual business practice, if SHOP99 receive a cancellation notice and the order has not been processed/ approved by SHOP99, SHOP99 shall cancel the order and refund the entire amount to you within a reasonable period of time. SHOP99 will not be able to cancel orders that have already been processed. SHOP99 has the full right to decide whether an order has been processed or not. You agree not to dispute the decision made by SHOP99 and accept SHOP99 decision regarding the cancellation. In case Customer still wants to cancel the order he will be charged a cancellation fee of 5-10% be charged on order amount.</li>
				<li>SHOP99 reserves the right to cancel any orders that classify as 'Bulk Order' as determined by SHOP99 as per certain criteria. Any SHOP99 cash or Promo Code used for placing the 'Bulk Order' will not be refunded as per this cancellation policy. An order can be classified as 'Bulk Order' if it meets with the below-mentioned criteria, which may not be exhaustive, viz.
					<p> <span>a.</span> Products ordered are not for self-consumption but for commercial resale. </p>
				<p> <span>b.</span> Multiple orders placed for the same product at the same address.</p>
				<p> <span>c.</span> Bulk quantity of the same product ordered.</p>

				</li>
				
				</ol>
				

				<h4>Refund Policy:</h4>
				<p>If a customer pays twice for one transaction, then one transaction's amount will be refunded via the same source within 15 to 20 working days.</p>

			</div>
		</div>
	</div>
</section>