@using Entities.Models;
@model ViewVariantCombinationModel
@if (Model.Attributes != null && Model.Attributes.Count > 0)
{
    var attrDDl = new SelectList(Model.Attributes, "Id", "Name");
    <input type="hidden" id="hdGroupId" asp-for=CombinationId />
    <div class="form-group row">
        <div class="col-md-3">
            <label class="col-form-labelabel-block required" for="AttributeTypeName">Attribute</label>
        </div>
        <div class="col-md-9">
            <div class="input-group">
                <select class="form-control" id="AttributeId" name="AttributeId" asp-items="@attrDDl">
                    <option value="0">Select Attribute</option>
                </select>
                <div class="input-group-append" onclick="dialog.categoryAttributeMap('@Model.CategoryId')">
                    <div class="input-group-text">
                        <i class="fa fa-magic" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <label class="col-form-label required" for="AttrValue">Attribute Value</label>
        </div>
        <div class="col-md-9">
            <input class="form-control" id="AttrValue" name="AttrValue" type="text">
        </div>
    </div>

    <hr />
    <div class="row mt-3">
        <button class="btn btn-primary ml-2" id="btnAttributeSubmit">Add Attribute</button>
    </div>

    <script>
        $('#btnAttributeSubmit').click(function () {
            let param = {
                AttributeId: $('#AttributeId').val(),
                AttributeText: $("#AttributeId option:selected").text(),
                AttrValue: $('#AttrValue').val(),
                ShowOnProductPage: $('#ShowOnProductPage').is(':checked') ? "checked" : ""
            };
            if (param.AttributeId == '0') {
                Q.notify(-1, 'Select a Attribute');
                return false;
            }
            if (param.AttrValue == '') {
                Q.notify(-1, 'Enter Attribute Value');
                return false;
            }
            let attributeName = $('#AttributeId option:selected').text()?.toLowerCase();
            let groupId = $('#hdGroupId').val();
            console.log(groupId);
            let attributeGrid = $(`#${groupId} .attributeGrid`);
            if (attributeGrid.find(`[data-attr-Id="${param.AttributeId}"]`).length > 0) {
                Q.notify(-1, 'Already Added.Please add new attribute!!');
                return false;
            }
            let _html = `<tr data-attr-Id="${param.AttributeId}" data-attr-Name="${attributeName}" data-attr-value="${param.AttrValue}" >
                                 <td>${attributeGrid.find('tr').length}</td>
                                 <td>${param.AttributeText}</td>
                                 <td>${param.AttrValue}</td>
                                 <td><span class="btn btn-danger rmRow"><i class="fa fa-times"></i><span></td>
                              </tr>`;
            attributeGrid.append(_html);
            if (param.AttributeId == "1" || param.AttributeText == "Color") {
                $('#attrColor option[value="Default"]').remove();
                $('tr[data-color-value="Default"]').remove();
                groupId = $('.attrCombination').length;
                let _option = `<option value="${param.AttrValue}" data-group-Id="${groupId}">${param.AttrValue}</option>`;
                $('#attrColor').append(_option);
            }
        });
    </script>
}
else
{
    <div class="card">
        <div class="card-body">
            <h4>No Attribute Available for this category of product.</h4>
            <span> Please click <a class="text-pink" href="javascript:dialog.categoryAttributeMap(@Model.CategoryId)">here</a> to map attributes or Click below</span>
            <br />
            <a href="javascript:dialog.categoryAttributeMap(@Model.CategoryId)" class="btn btn-sm btn-info mt-2">Map Attribute</a>
        </div>
    </div>
    @section scripts{
    <script>
        $(document).on('click', '.clsDialog', () => {
            $('.ui-dialog-titlebar-close').click();
        })
    </script>
}
}
