<style>
    .error {
        color: crimson;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9 col-sm-6">
                <h2>
                    Return Request
                </h2>
            </div>
            <div class="col-md-12 mt-2 table-responsive">
                <table class="table table-bordered" id="Grid">
                    <thead>
                        <tr role="row">
                            <th>#</th>
                            <th>Product</th>
                            <th class="text-nowrap">Product Name</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Qty</th>
                            <th>Rate</th>
                            <th>MRP</th>
                            <th>Mode</th>
                            <th class="text-nowrap">Order Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(() => {
            loadData();
        })
        var loadData = () => {
            $.post('/OrderDetails/ReturnRequestList').done(function (result) {
                $('#Grid tbody').html(result);
            }).fail(xhr => Q.notify(-1, xhrText[xhr.status]));
        };
        var ChangeStatusItem = function (ID, StatusID) {
            $.post('/OrderDetails/ChangeStatus', { ID, StatusID }).done((result) => {
                console.log('result :', result);
                Q.notify(result.statusCode, result.responseText);
                if (result.statusCode)
                    loadData();
            })
        };
    </script>
}