@{
    Layout = "_layout";
}

<style>
    .sc-list-item-content {
        position: relative;
        margin-top: 12px;
        border-top: 1px solid #ddd;
        padding: 30px 0;
    }

    .sc-list-item-content-inner {
        display: flex !important;
        flex-direction: row;
    }

    .sc-list-item-content-inner {
        width: 83%;
    }

    .a-spacing-mini, .a-ws .a-ws-spacing-mini {
        margin-bottom: 4px !important;
    }

    .sc-grid-view.sc-grid-full-width .sc-list-body .sc-item-content-group {
        margin-right: 12px;
        flex-shrink: 0;
    }

    .a-unordered-list, ul {
        margin: 0 0 0 18px;
        color: #0F1111;
    }

    .a-ordered-list, .a-unordered-list, ol, ul {
        padding: 0;
        list-style: none;
    }

        .a-ordered-list.a-nostyle, .a-unordered-list.a-nostyle, ol.a-nostyle, ul.a-nostyle {
            margin-left: 0;
            color: #0F1111;
        }

        .a-unordered-list li a {
            color: #000;
            font-size: 18px !important;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

    .a-text-bold {
        font-weight: 700 !important;
    }

    .a-size-medium {
        font-size: 18px !important;
        line-height: 24px !important;
    }

    .a-size-medium {
        text-rendering: optimizeLegibility;
    }

    .a-color-base {
        color: #0F1111 !important;
    }

    .sc-white-space-nowrap {
        white-space: nowrap;
    }

    .fnt-small, .a-size-small {
        font-size: 13px;
        font-weight: 400;
        letter-spacing: .5px;
    }

    .a-size-small-1 {
        color: #4f4d4d;
        font-weight: 500;
        font-size: 11px;
        padding: 8px 10px;
        background-color: #f8f9fa;
    }

    .sc-list-item-content:first-child {
        border-top: 1px solid transparent;
        padding: 0;
    }
    .a-unordered-list li{
        display:block;
    }

    .mr-4{
        margin-right:2rem;
    }
</style>
<!--section start-->
<section id="UserOrderHistory">
</section>

@section scripts{
    <script>
        $(() => {
            loadData();
        })
        var loadData = () => {
            $.post('/_UserOrderHistory').done(function (result) {
                $('#UserOrderHistory').html(result);
            }).fail(xhr => Q.notify(-1, xhrText[xhr.status]))
        };
        var Cancel = (ID, StatusID) => Q.confirm("Are You Sure. You Want To Cancel This Order", () => ChangeStatusItem(ID, StatusID));
        var Confirm = (ID, StatusID) => Q.confirm("Are You Sure. You Want To Confirm This Order", () => ChangeStatusItem(ID, StatusID));
        var ChangeStatusItem = function (ID, StatusID) {
            $.post('/OrderDetails/ChangeStatus', { ID, StatusID }).done((result) => {
                Q.notify(result.statusCode, result.responseText);
                if (result.statusCode)
                    loadData();
            }).fail(xhr => Q.notify(-1, xhrText[xhr.status]))
        };
        var ShareTrackingDetails = (TrackID, URL) => {
            $.post('/OrderDetails/ShareTrackingDetails', { TrackID, URL }).done((result) => {
                Q.alert({
                    title: 'Share Tracking Details',
                    body: result,
                    width: 500
                });
            }).fail(xhr => Q.notify(-1, xhrText[xhr.status]))
        }
    </script>
}