<div class="content-header clearfix">
    <h1 class="float-left">
        Brand
    </h1>
    <div class="float-right">
        <a class="btn btn-primary" href="javascript:void(0)" id="btnNew">
            <i class="fas fa-plus-square"></i>
            Add new
        </a>
    </div>
</div>
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" id="Grid">
                        <thead>
                            <tr role="row" style="" class="">
                                <th>#</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#btnNew').click(() => AddBrand());
            loadData();
        })
        var loadData = function () {
            let request = {
                Id: 0
            };

            $.post('/Brand/List', request).done(function (result) {
                $('#Grid tbody').html(result);
            }).fail(function (xhr) {
                console.log(xhr.responseText);
                alert('something went wrong');
            })
        };


          var AddBrand = function (Id) {
            $.get('/Brand/Create', { Id: Id })
                .done(result => {
                    Q.alert({
                        title: 'Brand',
                        body: result
                    });
                }).fail(xhr => Q.renderError(xhr)).always(() => Q.preloader.remove());
        };
    </script>
        }