@using Entities.Enums;
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>


    .summary-block {
        margin-bottom: 11px;
        background-color: #e9ebef;
        padding: 17px 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .summary-block i {
            font-size: 2.5rem;
            /*color: #00c0ef;*/
        }


    .summary-price {
        color: #007bff;
        font-size: 25px;
        font-weight: 400;
    }

    p.summary-text {
        margin-bottom: 0px;
    }



    .summary-title {
        font-weight: 700;
        font-size: 16px;
        color: #1c1e22;
        margin-bottom: 0px;
    }


    .content-header span .fa-refresh {
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    webkit-keyframes spin {
        0%

    {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }

    }
</style>

<div class="content-header">
    <h1>
        Dashboard <span><i class="fa fa-refresh spin"></i></span>
    </h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 id="CCount">0</h3>
                        <p>Pending Shipment</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a class="small-box-footer" href="/OrderDetails/Index?type=3">
                        More info
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 id="OCount">0</h3>
                        <p>Orders Placed</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-refresh"></i>
                    </div>
                    <a class="small-box-footer" href="/OrderDetails/Index?type=1">
                        More info
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3 id="PACount">0</h3>
                        <p>Pending Approval</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a class="small-box-footer" href="/Product/Attributes?s=1">
                        More info
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 id="LSCount">0</h3>
                        <p>Low stock Variant</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a class="small-box-footer" href="/Product/Attributes?Id=0&s=@StatusType.All&stock=@StatusType.LowStock">
                        More info
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>





        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline " id="latest-orders-card">
                    <div class="card-header with-border">
                        <h3 class="card-title">
                            <i class="fas fa-cart-plus"></i>
                            Latest Orders
                        </h3>
                        <a class="btn btn-xs btn-info btn-flat margin-l-10 float-right" href="/OrderDetails/Index">View All Orders</a>
                    </div>
                    <div class="card-body p-2">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="ordertbl">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Order status</th>
                                        <th>Customer</th>
                                        <th>Order on</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>

                    </div>

                </div>
            </div>


        </div>



    </div>

</section>

@section scripts{
    <script>
        $(() => {
            fetchCounts();
            fetchOrders();
        });
        const fetchCounts = () => {
            $.post(`/T-B-C`).done((result) => {
                $('#OCount').text(result.totalOrdersPlaced);
                $('#CCount').text(result.confirmedOrder);
                $('#RCCount').text(result.totalCustomer);
                $('#LSCount').text(result.lowStocks);
                $('#PACount').text(result.totalPendingApprovel);
            })
        }
        const fetchOrders = () => {
            $.post(`/G-O-L`).done((result) => {
                if (result.length > 0) {
                    console.log('result OrderList :', result);
                    let __html = ``;
                    $.each(result, (i, v) => {
                        if (v.statusID == 1 || v.statusID == 2 || v.statusID == 3 || v.statusID == 4 || v.statusID == 5) {
                            let count = i + 1;
                            let statusTxt = v.statusID == 1 ? "Placed" : v.statusID == 2 ? "Canceled" : v.statusID == 3 ? "Confirmed" : v.statusID == 4 ? "Delivered" : v.statusID == 5 ? "Shipped" : "";
                            let statuscls = v.statusID == 1 ? "yellow" : v.statusID == 2 ? "red" : v.statusID == 3 ? "blue" : v.statusID == 4 ? "green" : v.statusID == 5 ? "green" : "";

                            __html = __html + `<tr>
                                                    <td>${count}</td>
                                                    <td><span class="grid-report-item ${statuscls} btn-sm">${statusTxt}</span></td>
                                                    <td>${v.title}</td>
                                                            <td class="text-nowrap">${v.entryOn}</td>
                                                    <td class="button-column">
                                                    <a class="btn btn-default btn-sm" href="/OrderDetails/Index?type=${v.statusID}&orderid=${v.id}&date=${v.entryOn}"><i class="far fa-eye cus-fa-eye"></i>View</a>
                                                    </td>
                                                </tr>`;
                        }
                    })
                    $('#ordertbl tbody').html(__html);
                }
            })
        }
    </script>
}


