<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Error" internalLogFile="./ErrorLogs/InnerLog.txt">
  <!--<extensions>
    <add assembly="NLog.Appsettings.Standard" />
  </extensions>-->
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="fileTarget" fileName="./ErrorLogs/Error_log" layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="ColoredConsole" name="consoleTarget"  layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="Database"
            name="dbTarget"
            connectionString="${configsetting:name=ConnectionStrings.SqlConnection}">
      <!--commandText="Exec dbo.proc_SaveNLog @msg,@level,@exception,@trace,@logger"-->
      <commandText>
        Exec dbo.proc_SaveNLog @msg,@level,@exception,@trace,@logger
      </commandText>
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@exception" layout="${exception}" />
      <parameter name="@trace" layout="${trace}" />
      <parameter name="@logger" layout="${logger}" />
    </target>
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="dbTarget" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />-->
    <!--<logger name="*" minlevel="Error" writeTo="fileTarget" />-->
    <logger name="*" minlevel="Error" writeTo="dbTarget"/>
  </rules>
</nlog>