<html lang="en" dir="ltr" class="k-webkit k-webkit107" style="height: auto;">
<head>
    <title></title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/css/productedit.head.styles.css" rel="stylesheet" />
    <link href="~/lib/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="~/css/admin.site.css" rel="stylesheet" />
    <link href="~/select2/css/select2.min.css" />

</head>
<body class="sidebar-mini layout-fixed control-sidebar-slide-open basic-settings-mode" style="height: auto;">
    <div class="throbber">
        <div class="curtain">
        </div>
        <div class="curtain-content">
            <div>
                <h1 class="throbber-header">Wait...</h1>
                <p>
                    <img src="/css/admin/images/throbber-synchronizing.gif" alt="">
                </p>
            </div>
        </div>
    </div>
    <div id="ajaxBusy" style="display: none;">
        <span>&nbsp;</span>
    </div>
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-dark bg-dark">
            <ul class="navbar-nav pl-2 pl-md-0">
                <li class="nav-item">
                    <a class="nav-link" id="nopSideBarPusher" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
            </ul>
            <a href="/Admin" class="brand-link navbar-dark">
                <img src="/Image/Admin/logo.png" alt="logo.png" class="brand-image logo d-block d-md-none d-sm-block d-sm-none">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto pl-2">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled">John Smith</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Logout">Logout</a>
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" data-toggle="dropdown">
                            <i class="fas fa-cogs"></i>
                        </a>
                        <ul class="maintenance-menu dropdown-menu dropdown-menu-right" role="menu">
                            <li class="dropdown-item">
                                <form action="/Admin/Common/ClearCache" method="post">
                                    <input name="returnurl" type="hidden" value="/Admin/Product/Edit/1">
                                    <div class="input-group-append">
                                        <button type="submit" style="width:210px;background-color: Transparent;">
                                            <span>Clear cache</span>
                                        </button>
                                    </div>
                                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GnQ9SaGxUBLjkzOWW-aur1RSSbPcO25zMgoLrwUY-Jz33nywrsQ4utzan2DkvFK1-Oezbw-R2-DNIbW4lADJ6WGCaqm8K_xr3O0wnvSv6PPcj1k2CNq-44TeGs7BEN6x61T-2_U4_G_egS3kpsMQ94">
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <a href="/Admin" class="brand-link navbar-dark logo-switch">
                <img src="/Image/Admin/logo.png" alt="logo.png" class="brand-image-xl logo-xl">
                <img src="/css/admin/images/logo-mini.png" alt="logo.png" class="brand-image-xs logo-xs">
            </a>
            <div class="sidebar os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition os-host-overflow os-host-overflow-y">
                <div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 197px;"></div><div class="os-padding">
                    <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                        <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                            <div class="sidebar-form">
                                <div id="search-box">
                                    <input type="text" class="form-control admin-search-box typeahead" placeholder="Search">
                                </div>
                            </div>
                            <nav class="mt-2">
                                <ul class="nav nav-pills nav-sidebar flex-column nav-legacy" data-widget="treeview" role="menu">
                                    <li class="nav-item">
                                        <a href="/Admin" class="nav-link">
                                            <i class="nav-icon fas fa-desktop"></i>
                                            <p> Dashboard</p>
                                        </a>
                                    </li>
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link active">
                                            <i class="nav-icon fas fa-book"></i>
                                            <p>
                                                Catalog
                                                <i class="right fas fa-angle-left "></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview" style="display: none;">
                                            <li class="nav-item">
                                                <a href="/Product" class="nav-link active">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Products</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Category" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Categories</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Brand" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Brand</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Attribute" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Attribute</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/TopBanner/Index" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Top Banner</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/TopLowerBanner/Index" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Top Lower Banner</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/CategoryAttributeMapping/Index" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Category Attribute Mapping</p>
                                                </a>
                                            </li>
                                            <li class="nav-item has-treeview">
                                                <a href="#" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p>
                                                        Attributes
                                                        <i class="right fas fa-angle-left "></i>
                                                    </p>
                                                </a>
                                                <ul class="nav nav-treeview">
                                                    <li class="nav-item">
                                                        <a href="/Admin/ProductAttribute/List" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Product attributes</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/SpecificationAttribute/List" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Specification attributes</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/CheckoutAttribute/List" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Checkout attributes</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fas fa-shopping-cart"></i>
                                            <p>
                                                Sales
                                                <i class="right fas fa-angle-left "></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview" style="display: none;">
                                            <li class="nav-item">
                                                <a href="/Admin/Order/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Orders</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Order/ShipmentList" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Shipments</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/ReturnRequest/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Return requests</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/RecurringPayment/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Recurring payments</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/GiftCard/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Gift cards</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/ShoppingCart/CurrentCarts" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Shopping carts and wishlists</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon far fa-user"></i>
                                            <p>
                                                Customers
                                                <i class="right fas fa-angle-left "></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Admin/Customer/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Customers</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/CustomerRole/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Customer roles</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/OnlineCustomer/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Online customers</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Vendor/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Vendors</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/ActivityLog/ActivityLogs" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Activity log</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/ActivityLog/ActivityTypes" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Activity Types</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Customer/GdprLog" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> GDPR requests (log)</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fas fa-tags"></i>
                                            <p>
                                                Promotions
                                                <i class="right fas fa-angle-left "></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="/Admin/Discount/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Discounts</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Affiliate/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Affiliates</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/NewsLetterSubscription/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Newsletter subscribers</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Campaign/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Campaigns</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fas fa-cubes"></i>
                                            <p>
                                                Content management
                                                <i class="right fas fa-angle-left "></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview" style="display: none;">
                                            <li class="nav-item">
                                                <a href="/Admin/Topic/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Topics (pages)</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/MessageTemplate/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Message templates</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/News/NewsItems" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> News items</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/News/NewsComments" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> News comments</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Blog/BlogPosts" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Blog posts</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Blog/BlogComments" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Blog comments</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Poll/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Polls</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Forum/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Forums</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fas fa-cogs"></i>
                                            <p>
                                                Configuration
                                                <i class="right fas fa-angle-left "></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview" style="display: none;">
                                            <li class="nav-item has-treeview">
                                                <a href="#" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p>
                                                        Settings
                                                        <i class="right fas fa-angle-left "></i>
                                                    </p>
                                                </a>
                                                <ul class="nav nav-treeview">
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/GeneralCommon" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> General settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/CustomerUser" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Customer settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/Order" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Order settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/Shipping" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Shipping settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/Tax" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Tax settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/Catalog" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Catalog settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/ShoppingCart" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Shopping cart settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/RewardPoints" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Reward points</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/Gdpr" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> GDPR settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/Vendor" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Vendor settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/Blog" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Blog settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/News" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> News settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/Forum" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Forum settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/Media" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Media settings</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Setting/AllSettings" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> All settings (advanced)</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/EmailAccount/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Email accounts</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Store/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Stores</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Country/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Countries</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Language/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Languages</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Currency/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Currencies</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Payment/Methods" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Payment methods</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Payment/MethodRestrictions" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Payment restrictions</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Tax/Providers" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Tax providers</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Tax/Categories" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Tax categories</p>
                                                </a>
                                            </li>
                                            <li class="nav-item has-treeview">
                                                <a href="#" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p>
                                                        Shipping
                                                        <i class="right fas fa-angle-left "></i>
                                                    </p>
                                                </a>
                                                <ul class="nav nav-treeview">
                                                    <li class="nav-item">
                                                        <a href="/Admin/Shipping/Providers" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Shipping providers</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Shipping/Warehouses" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Warehouses</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Shipping/PickupPointProviders" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Pickup points</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Shipping/DatesAndRanges" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Dates and ranges</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Measure/List" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Measures</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Security/Permissions" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Access control list</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Widget/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Widgets</p>
                                                </a>
                                            </li>
                                            <li class="nav-item has-treeview">
                                                <a href="#" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p>
                                                        Authentication
                                                        <i class="right fas fa-angle-left "></i>
                                                    </p>
                                                </a>
                                                <ul class="nav nav-treeview">
                                                    <li class="nav-item">
                                                        <a href="/Admin/Authentication/ExternalMethods" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> External authentication</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Authentication/MultiFactorMethods" class="nav-link">
                                                            <i class="nav-icon far fa-circle"></i>
                                                            <p> Multi-factor authentication</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/WebApiFrontend/Configure" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Web API</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Plugin/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Local plugins</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Plugin/OfficialFeed" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> All plugins and themes</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fas fa-cube"></i>
                                            <p>
                                                System
                                                <i class="right fas fa-angle-left "></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview" style="display: none;">
                                            <li class="nav-item">
                                                <a href="/Admin/Common/SystemInfo" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> System information</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Log/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Log</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Common/Warnings" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Warnings</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Common/Maintenance" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Maintenance</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/QueuedEmail/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Message queue</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/ScheduleTask/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Schedule tasks</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Common/SeNames" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Search engine friendly page names</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Template/List" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Templates</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fas fa-chart-line"></i>
                                            <p>
                                                Reports
                                                <i class="right fas fa-angle-left "></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview" style="display: none;">
                                            <li class="nav-item">
                                                <a href="/Admin/Report/SalesSummary" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>

                                                    <p> Sales summary</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Report/LowStock" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Low stock</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Report/Bestsellers" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Bestsellers</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Report/NeverSold" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Products never purchased</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Admin/Report/CountrySales" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Country sales</p>
                                                </a>
                                            </li>
                                            <li class="nav-item has-treeview">
                                                <a href="#" class="nav-link">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p>
                                                        Customer reports
                                                        <i class="right fas fa-angle-left "></i>
                                                    </p>
                                                </a>
                                                <ul class="nav nav-treeview">
                                                    <li class="nav-item">
                                                        <a href="/Admin/Report/RegisteredCustomers" class="nav-link">
                                                            <i class="nav-icon far fa-dot-circle"></i>
                                                            <p> Registered customers</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Report/BestCustomersByOrderTotal" class="nav-link">
                                                            <i class="nav-icon far fa-dot-circle"></i>
                                                            <p> Customers by order total</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="/Admin/Report/BestCustomersByNumberOfOrders" class="nav-link">
                                                            <i class="nav-icon far fa-dot-circle"></i>
                                                            <p> Customers by number of orders</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fas fa-question-circle"></i>
                                            <p>
                                                Help
                                                <i class="right fas fa-angle-left "></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link" target="_blank">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Documentation</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link" target="_blank">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Community forums</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link" target="_blank">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Premium support services</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link" target="_blank">
                                                    <i class="nav-icon far fa-dot-circle"></i>
                                                    <p> Solution partners</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <div class="content-wrapper" style="min-height: 142px;">
            @RenderBody()
        </div>
        <div class="main-footer">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 text-md-left text-center">
                            Powered by <a href="#" target="_blank">eCommerce</a>
                        </div>
                        <div class="col-md-4 col-xs-12 text-center">
                            Wednesday, November 16, 2022 4:41 AM
                        </div>
                        <div class="col-md-4 col-xs-12 text-md-right text-center">
                            <b>eCommerce version 4.50.0</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-overlay"></div>
    </div>
  @*      <script src="~/select2/js/select2.min.js"></script>
      <script src="~/js/common.js"></script>*@
    <script src="~/build/bundlejs.js"></script>

    <script>
        $(document).ready(function () {
              //$('.select2').select2();
            $('.has-treeview').click(e => {
                let tree = $(e.currentTarget);
                tree.toggleClass('.menu-open');
                tree.find('.nav-treeview').toggle();
            })
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>