@using Entities.Enums;
@using Entities.Models;
@model InventoryRequest
<div class="content-header clearfix">
    <h1 class="float-left">
        Payment Inititated
    </h1>
</div>
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-end">
                <div class="col-md-3 col-sm-6">
                    @*<select class="form-control" id="status" onchange="loadData();">
                    <option value="@InventoryStatus.All">@InventoryStatus.All.ToString()</option>
                    <option value="@InventoryStatus.LowStock">@InventoryStatus.LowStock.ToString()</option>
                    </select>*@
                    @*<input type="text" id="txtSearch" class="form-control" placeholder="Search in Table" />*@
                </div>
                <div class="col-md-12 mt-2">
                    <div class="col-md-12 mt-2">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="Grid">
                                <thead>
                                    <tr role="row">
                                        <th>#</th>
                                        <th>PGID</th>
                                        <th>User</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>UTR</th>
                                        <th class="text-nowrap">Entry On</th>
                                        <th class="text-nowrap">Modify On</th>
                                    </tr>
                                </thead>
                                <tbody id="tblBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        const loadData = () => {
            $.post('/Report/_PGReport', { Status: $('#status').val() }).done(function (result) {
                $('#Grid tbody').html(result);
            }).fail(function (xhr) {
            })
        };
        loadData();

    </script>
    <script>
    $(() => {
        callDataTable({ selector : 'table',  isSearch: true });        
    })
</script>
}