@using Entities.Enums;
@using Entities.Models;
@model InventoryRequest

<style>
    #Grid_filter{
        display:none;
    }
</style>
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-4 col-sm-6">
                    <h4 style="font-size: 1.2rem; font-weight: 600; margin-bottom: 0;">Payment Initiate</h4>
                </div>
                <div class="col-md-5 col-sm-6 text-right">
                    <div class="input-group">
                        <input id="txtSearch" class="form-control" style="border-radius: 5px;" placeholder="Search in Table" />

                        <div class="input-group-append" id="search" style="">
                            <button id="searchBtn" class="btn btn-primary" style="cursor: pointer;">
                                <span class="fas fa-search" style="margin: auto;"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="table-responsive">
                <table class="table table-bordered m-0 w-100" id="Grid">
                    <thead>
                        <tr role="row">
                            <th>#</th>
                            <th>PGID</th>
                            <th>User</th>
                            <th>Amount</th>
                            <th>TID</th>
                            <th>Status</th>
                            <th>UTR</th>
                            <th class="text-nowrap">Entry On</th>
                            <th class="text-nowrap">Modify On</th>
                        </tr>
                    </thead>
                    <tbody id="tblBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        const loadData = () => {
            $.post('/Report/_PGReport', { Status: $('#status').val() }).done(function (result) {
                $('#Grid tbody').html(result);
            }).fail(function (xhr) {
            })
        };
        loadData();

    </script>
    <script>
        $(() => {
            callDataTable({ selector: 'table', isSearch: true });
        })
    </script>
    $(() => {
        callDataTable({ selector : 'table',  isSearch: true });        
    })

        var addOrEdit = (TID) => {
            Q.preloader.load();
            $.post('/User/GENrate', { Id: id }).done((response) => {
                let _title = id == '0' ? 'Add' : 'Edit';
                Q.alert({
                    title: _title,
                    body: response,
                });
                Q.preloader.remove();
            }).fail((xhr) => {
                console.error(xhr.responsiveText);
                Q.notify(-1, 'Server Error!');
            });
        }
</script>
}