@using Entities.Enums;
@using Entities.Models;
<div class="card">
    <div class="card-body">
        <div class="row justify-content-end">

            <div id="cus-order-details">
                <div class="col-sm-12">
                    <h3 class="float-left cus-details-for-order text-center">
                        User Ledger
                    </h3>
                </div>
                
                    <div class="row w-100">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-2 float-end">
                            <span class="text-bold">From</span>
                            <input aria-describedby="dtFromDate" class="form-control" id="dtFromDate" tabindex="5" type="text" readonly="readonly" value="@DateTime.Now.ToString("dd MMM yyyy")" />
                        </div>
                        <div class="col-sm-2 float-end">
                            <span class="text-bold">To</span>
                            <input aria-describedby="dtToDate" class="form-control" id="dtToDate" tabindex="6" type="text" readonly="readonly" value="@DateTime.Now.ToString("dd MMM yyyy")">
                        </div>
                        <div class="col-sm-3 float-end">
                            <span class="text-bold">Search Ledger</span>
                            <div class="input-group">
                                <input type="text" id="txtSearch" class="form-control" placeholder="Search in Ledger" />
                                <div class="input-group-append" style="cursor:pointer">
                                <div class="input-group-text btn-primary" id="basic-addon">
                                    <span class="fa-3x">
                                        <i class="fa fa-search" style="font-size: 22px;"></i>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2 table-responsive">
                <table class="table table-bordered" id="Grid">
                    <thead>
                        <tr role="row">
                            <th>#</th>
                            <th>Transaction  ID</th>
                            <th>Name</th>
                            <th>PhoneNumber</th>
                            <th>Transaction Type</th>
                            <th class="text-nowrap">Service</th>
                            <th class=text-right>Opening</th>
                            <th class="text-right">Closing</th>
                            <th class="text-right">Amount</th>
                            <th>EntryOn</th>
                        </tr>
                    </thead>
                    <tbody id="tblBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(() => {
            loadData();
        })
         var params = () => {
            return {
                Top: $('#Top').val(),
                FromDate: $('#dtFromDate').val(),
                ToDate: $('#dtToDate').val(),
                SearchText: $('#txtSearch').val()
            };
        }
        $('#basic-addon').click(() => loadData());
        var loadData =  () => {
            let param = params();
            Q.btnLdr.Start($('#basic-addon'), '');
             $.post('/Report/UserWalletLedgerList', param).done(function (result) {
                $("#Grid tbody").empty();
                $('#Grid tbody').append(result);
                Q.btnLdr.Stop($('#basic-addon'), '');
            }).fail(xhr => Q.notify(-1, xhrText[xhr.status]));
        };
        $('#dtFromDate, #dtToDate').datepicker({
            changeYear: true,
            changeMonth: true,
            dateFormat: 'dd M yy',
            autoClose: true
        });
    </script>
}
