@using WebApp.Models.ViewModels;
@model VariantViewModel
@{
    var attrDDl = new SelectList(Model.AttributesDDLs, "Id", "Name");
    string s = string.Empty;
}
<style>
    .custOne {
        height: 0px;
        overflow: hidden;
    }

    .custTwo {
        width: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 0px
    }
</style>
<div class="content-header clearfix">
    <h1 class="float-left">
        Edit product details - Build your own computer
        <small>
            <i class="fas fa-arrow-circle-left"></i>
            <a href="/Admin/Product/List">back to product list</a>
        </small>
    </h1>
    <div class="float-right">
        <input type="button" value="Save" class="btn btn-primary" id="SaveProduct" />
        <button type="submit" name="save-continue" class="btn btn-primary">
            <i class="far fa-save"></i>
            Save and Continue Edit
        </button>
        <button type="button" name="copyproduct" class="btn bg-olive" data-toggle="modal" data-target="#copyproduct-window">
            <i class="far fa-clone"></i>
            Copy product
        </button>
        <span id="product-delete" class="btn btn-danger" data-toggle="modal" data-target="#productmodel-Delete-delete-confirmation">
            <i class="far fa-trash-alt"></i>
            Delete
        </span>
    </div>
</div>
<div class="validation-summary-valid" data-valmsg-summary="true">
    <ul>
        <li style="display:none"></li>
    </ul>
</div>
<input type="hidden" data-val="true" data-val-required="The Id field is required." id="Id" name="Id" value="1">

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div class="float-left">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="advanced-settings-mode" checked="checked">
                                    <label class="onoffswitch-label" for="advanced-settings-mode">
                                        <span class="onoffswitch-inner" data-locale-basic="Basic" data-locale-advanced="Advanced"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info float-left mx-2" id="product-editor-settings" data-toggle="modal" data-target="#productsettings-window">
                        <i class="fas fa-cog"></i>
                        Settings
                    </button>
                </div>
            </div>
            <input type="hidden" asp-for="ProductId" />
            @*Attribute Starts*@
            <div id="AttributeView">
                <div class="card card-secondary card-outline" data-card-name="product-info" data-hideattribute="ProductPage.HideInfoBlock" id="product-info">
                    <div class="card-header with-border clearfix">
                        <div class="card-title">
                            <i class="fas fa-info"></i>Attribute Combination
                        </div>
                        <div class="card-tools float-right">
                            <button class="btn btn-tool" data-card-widget="collapse"><i class="fa toggle-icon fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-right mb-3">
                                <button id="btnNewAttrGroup" class="btn btn-primary">Add Variant</button>
                            </div>
                        </div>
                        <attrGroup>
                            <div class="row">
                                <h4>Combination-1</h4>
                                <hr />
                                @Html.Partial("Partials/_AddAttributeGroup")
                            </div>
                        </attrGroup>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script>
        $(document).on('click', '.btnAddNewAttribute', () => {
            $.post('/Product/AddAttributes').done((result) => {
                Q.alert({
                    title: 'Add Attribute',
                    body: result,
                    width: 900
                });
            })
        })

        $(document).on('click', '#btnAddNewAttr', function () {
            let AttrCounter = parseInt($('#AttrCounter').val());
            AttrCounter = AttrCounter + 1;
            let _html = `<tr>
                                                                                                                                               <td colspan="4">
                                                                                                                                                   <div class="form-group row">
                                                                                                                                                       <div class="col-md-3">
                                                                                                                                                           <div class="label-wrapper"><label class="col-form-label" for="HSN">HSN</label><div title="Enter Value for HSN" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                                                                                                                                       </div>
                                                                                                                                                       <div class="col-md-9">
                                                                                                                                                           <div class="input-group input-group-required">
                                                                                                                                                                       <input class="form-control text-box single-line" type="text" id="HSN_${AttrCounter}">
                                                                                                                                                           </div>
                                                                                                                                                       </div>
                                                                                                                                                   </div>
                                                                                                                                                   <div class="form-group row">
                                                                                                                                                       <div class="col-md-3">
                                                                                                                                                           <div class="label-wrapper"><label class="col-form-label" for="Price">Price</label><div title="Enter Value for Price" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                                                                                                                                       </div>
                                                                                                                                                       <div class="col-md-9">
                                                                                                                                                           <div class="input-group input-group-required">
                                                                                                                                                                       <input class="form-control text-box single-line" type="text" id="Price_${AttrCounter}">
                                                                                                                                                           </div>
                                                                                                                                                       </div>
                                                                                                                                                   </div>
                                                                                                                                                   <div class="form-group row">
                                                                                                                                                       <div class="col-md-3">
                                                                                                                                                           <div class="label-wrapper"><label class="col-form-label" for="GTIN">Quantity</label><div title="Enter Value for GTIN" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                                                                                                                                       </div>
                                                                                                                                                       <div class="col-md-9">
                                                                                                                                                           <div class="input-group input-group-required">
                                                                                                                                                                       <input class="form-control text-box single-line" type="text" id="Quantity_${AttrCounter}">
                                                                                                                                                           </div>
                                                                                                                                                       </div>
                                                                                                                                                   </div>
                                                                                                                                                   <div class="form-group row">
                                                                                                                                                       <div class="col-md-3">
                                                                                                                                                           <div class="label-wrapper"><label class="col-form-label" for="GTIN">GTIN</label><div title="Enter Value for GTIN" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                                                                                                                                       </div>
                                                                                                                                                       <div class="col-md-9">
                                                                                                                                                           <div class="input-group input-group-required">
                                                                                                                                                                       <input class="form-control text-box single-line" type="text" id="GTIN_${AttrCounter}">
                                                                                                                                                           </div>
                                                                                                                                                       </div>
                                                                                                                                                   </div>
                                                                                                                                               </td>
                                                                                                                                               <td>
                                                                                                                                                                           <input type="hidden" id="VariantCounter_${AttrCounter}" value="0" />
                                                                                                                                                   <input type="button" class="btn btn-sm btn-info btnAddNewAttribute" value="Add Variant" />
                                                                                                                                               </td>
                                                                                                                                           </tr>`;
            $('#attributecombinations-grid tr:last').after(_html);
            $('#AttrCounter').val(AttrCounter);
        })
        $('#Attribute_1_1').change(() => {
            let vals = $('#Attribute_1_1').val();
            $('#Attribute_1_1').attr('data-attr-Id', vals);
            $('#Tr_1_1').attr('data-item-id', vals);
        })

    </script>


    <script>
        //$(() => {

        //});

        $(document).on('click', '#SaveProduct', () => {
            let ProductVariant = [];
            let ProductVariantGroups = [];
            let Attrlength = $('#AttrCounter').val();
            for (let k = 1; k <= Attrlength; k++) {
                let Productvari = {
                    Id: k,
                    HSN: $('#HSN_' + k).val(),
                    MRP: $('#Price_' + k).val(),
                    Quantity: $('#Quantity_' + k).val(),
                    GTIN: $('#GTIN_' + k).val()
                };
                ProductVariant.push(Productvari);
                let Variantlength = $('#VariantCounter_' + k).val();
                for (let i = 1; i <= Variantlength; i++) {
                    let combination = {
                        Id: k,
                        ProductId: $('#ProductId').val(),
                        AttributeId: $('#Attribute_' + k + '_' + i).data().attrId,
                        AttributeValue: $('#Value_' + k + '_' + i).val(),
                        AllowFiltering: $('#isFiltering_' + k + '_' + i).is(':checked'),
                        ShowOnProductPage: $('#isShow_' + k + '_' + i).is(':checked'),
                    };
                    ProductVariantGroups.push(combination);
                }
            }
            let param = {
                ProductVariant: ProductVariant,
                ProductVariantGroups: ProductVariantGroups
            };
            console.log('Param :', param);
            $.post('/Product/SaveVariants', param).done((result) => {
                Q.notify(result.statusCode, result.responseText);
            })


        })

        $('#btnNewAttrGroup').click(function () {
            $.get("/Product/AddAttributeGroup").done(result => {
                let _count = $('.attrCombination').length;
                $('attrGroup').append(`<h4>Combination-${_count + 1}</h4><hr />`).append(result)
            }).fail(xhr => console.log(xhr.responseText));
        });
    </script>


}