@if (User.IsInRole("ADMIN"))
{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_VendorsLayout.cshtml";
}
@using WebApp.Models.ViewModels;
@model VariantViewModel
<style>
    .custOne {
        height: 0px;
        overflow: hidden;
    }

    .custTwo {
        width: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 0px
    }
</style>

<div class="card card-secondary p-2 sticky-head ">
    <div class="content-header clearfix p-0">
        <h1 class="float-left">
            Edit product variant
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a href="/Product">back to product list</a>
            </small>
        </h1>
        <div class="float-right">
            <button class="btn btn-sm btn-primary" id="SaveProduct">Save</button>
        </div>
    </div>
</div>

<div class="validation-summary-valid" data-valmsg-summary="true">
    <ul>
        <li style="display:none"></li>
    </ul>
</div>
<input type="hidden" data-val="true" data-val-required="The Id field is required." id="Id" name="Id" value="1">
<div class="row text-center">
    <div class="col-10">
        <span id="GroupinfoErr" class="d-none"></span>
    </div>
</div>
<section class="content">

    <div class="pc-tab">
        <input checked="checked" id="tab1" type="radio" name="pct" />
        <input id="tab2" type="radio" name="pct" />
        <input id="tab3" type="radio" name="pct" />
        <nav>
            <ul>
                <li class="tab1">
                    <label for="tab1"><i class="fas fa-info"></i>Variant Combination</label>
                </li>
                <li class="tab2">
                    <label for="tab2" id="pictureTab"><i class="fas fa-info"></i>Pictures</label>
                </li>

            </ul>
        </nav>
        <section>
            <input type="hidden" id="ProductId" asp-for="ProductId" />
            <div class="tab1 div">
                <div class="form-horizontal">

                    <div id="AttributeView">
                        <div class="" data-card-name="product-info" id="product-info">

                            <div>
                                <attrGroup>
                                    <div class="row">
                                        @{
                                            ViewBag.Coupons = Model.Coupons;
                                        }
                                        @Html.Partial("Partials/_AddAttributeGroup")
                                    </div>
                                </attrGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab2 div">

                <div class="form-horizontal">

                    <div id="AttributeView">
                        <div class="" data-card-name="product-info" id="product-info">

                            <div id="pictureSection">
                                <div class="row">
                                    @Html.Partial("Partials/_AddPictures")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>
@section Scripts{
    <script src="/js/addVariant.js"></script>
    <script>
        (() => {
            let combinationId = $('.attrCombination').attr('id');
            $.post('/Product/AddAttributess', { combinationId, CategoryId: '@Model.CategoryId' }).done((result) => {
                console.log('Attributes : ', result);
                let _attributeHtml = result.attributes.map((v, i) => {
                    let srNo = i + 1;
                    return `<tr data-cId=${result.categoryId} data-id=${v.id} data-attribute-id="${v.id}" data-attribute-name="${v.name}">
                                            <td>${srNo}</td>
                                            <td>${v.name}</td>
                                            <td><input type="text" class="form-control" id="attrValue" ></td>
                                            </tr>`;
                });
                $('#dataTable1 tbody').html(_attributeHtml.join(''));

            })
        })()

        var expanded = false;

        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }
        
            $(document).ready(function () {
                $('#ddlCoupon').select2({
                    placeholder: 'Select or search...',
                    width: '100%',
                });
            });
    
    </script>
 }