@using WebApp.Models.ViewModels;
@model VariantViewModel

<form asp-action="Create" data-ajax="false">
    <div class="content-header clearfix">
        <h1 class="float-left">
            Edit product details - Build your own computer
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a href="/Admin/Product/List">back to product list</a>
            </small>
        </h1>
        <div class="float-right">
            <input type="button" value="Save" class="btn btn-primary" id="SaveProduct" />
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                Save and Continue Edit
            </button>
            <button type="button" name="copyproduct" class="btn bg-olive" data-toggle="modal" data-target="#copyproduct-window">
                <i class="far fa-clone"></i>
                Copy product
            </button>
            <span id="product-delete" class="btn btn-danger" data-toggle="modal" data-target="#productmodel-Delete-delete-confirmation">
                <i class="far fa-trash-alt"></i>
                Delete
            </span>
        </div>
    </div>
    <div class="validation-summary-valid" data-valmsg-summary="true">
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>
    <input type="hidden" data-val="true" data-val-required="The Id field is required." id="Id" name="Id" value="1">

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12 clearfix">
                        <div class="float-left">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="advanced-settings-mode" checked="checked">
                                        <label class="onoffswitch-label" for="advanced-settings-mode">
                                            <span class="onoffswitch-inner" data-locale-basic="Basic" data-locale-advanced="Advanced"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-info float-left mx-2" id="product-editor-settings" data-toggle="modal" data-target="#productsettings-window">
                            <i class="fas fa-cog"></i>
                            Settings
                        </button>
                    </div>
                </div>
                <nop-cards id="product-cards">
                    <input type="hidden" asp-for="ProductId" />
                    @*Attribute Starts*@
                    <nop-card id="AttributeView">
                    </nop-card>
                    @*Ends Attribute *@

                </nop-cards>
            </div>
        </div>
    </section>
</form>

@section Scripts{
    <script>
        $(() => {
            AttributetSection();
        });

        var AttributetSection = () => {
            $.post('/Product/GetAttributeSectionView').done((result) => {
                $('#AttributeView').html(result);
            })
        }

        $(document).on('click', '#SaveProduct', () => {
            let AttributeCombinations = [];
            let ProductVariantGroups = [];
            let length = $('#Counter').val();
            for (let i = 1; i <= length; i++) {
                let combination = {
                    ProductId: $('#ProductId').val(),
                    AttributeId: $('#Attribute_'+i).val(),
                    AllowFiltering: $('#isFiltering_' + i).is(':checked')                    
                };
                let groups = {
                    ShowOnProductPage: $('#isShow_' + i).is(':checked'),
                    AttributeValue: $('#Value_' + i).val(),
                    HSN: $('#HSN_' + i).val(),
                    Price: $('#Price_' + i).val(),
                    GTIN: $('#GTIN_' + i).val(),
                    Quantity: $('#Quantity_' + i).val()
                }
                AttributeCombinations.push(combination);
                ProductVariantGroups.push(groups);
            }
            let param = {
                ProductVariants: AttributeCombinations,
                ProductVariantGroups: ProductVariantGroups
            };
            console.log('Param :', param);
            $.post('/Product/AddVariant', param).done((result) => {
                console.log(result);
            })


        })
    </script>

}