@using WebApp.Models.ViewModels;
@model ProductViewModel
@{
    var catDDl = new SelectList(Model.Categories, "CategoryId", "CategoryName");
}
<div class="content-header clearfix">
    <h1 class="float-left">
        Products
    </h1>
    <div class="float-right">
        <a class="btn btn-primary" href="/Product/Edit/0">
            <i class="fas fa-plus-square"></i>
            Add Product
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-row m-1 ">
                    <div class="col">
                        <select id="ddlCategory" class="form-control select2" asp-items="@catDDl">
                            <option value="0">Select Category</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="input-group" role="group" aria-label="Basic example">
                            <input type="text" id="textProductName" class="form-control" placeholder="Product Name">
                            <div class="input-group-append">
                                <div class="input-group-text btn btn-outline-primary" id="btnSearch">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="Grid">
                        <thead class="text-nowrap">
                            <tr role="row">
                                <th>#</th>
                                <th>Action</th>
                                <th>Name</th>
                                @*<th>Title</th>*@
                                <th>Category</th>
                                <th>Brand</th>
                                <th>SKU</th>
                                <th>IsPublish</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    $('#ddlCategory').select2({
        selectOnClose: true
    });

    $(() => {
        loadData(0,'');
    })
    var loadData = (cid,stext) => {
        $.post('/Product/ProductList',{CID:cid,SearchText:stext }).done(function (result) {
            $('#Grid tbody').html(result);
        }).fail(function (xhr) {
            Q.notify(-1,xhrText[xhr.status])
            console.log(xhr.responseText);
        })
    };
    $('#btnSearch').click(function(){
        loadData($('#ddlCategory').val(),$('#textProductName').val());
    });

    var UpdateIspublish = function(Id) {
        let IsPublish = false;
        if ($('#Ispublish_' + Id).is(":checked")) {
            IsPublish = true;
        }
        let obj = {
            Id: Id,
            IsPublish: IsPublish
        }
        $.post('/Product/UpdateIsPublishProduct', obj).done(function(result) {
            Q.notify(result.statusCode, result.responseText);
            if (result.statusCode == 1) {
                loadData();
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            Q.notify(-1,xhrTest[xhr.status]);
        })
    }
</script>
}
