@using WebApp.Models.ViewModels;
@model CatAttrMappingViewModel
@{
    int count = 0;
}
<tr>
    <td>1</td>
    <td>Mapped</td>
    <td>
        @if (Model.MappedList.Any())
        {
            <div class="row">
                @foreach (var item in Model.MappedList)
                {
                    count++;
                    <div class="col-md-3 text-nowrap chkBndgCls mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="Name_@count" checked="checked" onclick="MapItems('@item.AttributeId')" style="cursor:pointer">
                                </div>
                            </div>
                            <label for="Name_@count" class="form-control">@item.AttributeName</label>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row">
                <small>Mapped Attributes Will Be Displayed Here</small>
            </div>
        }
    </td>
</tr>
<tr>
    <td>2</td>
    <td>UnMapped</td>
    <td>
        @if (Model.UnMappedList.Any())
        {
            <div class="row">
                @foreach (var item in Model.UnMappedList)
                {
                    count++;
                    <div class="col-md-3 text-nowrap chkBndgCls mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="Name_@count" onclick="MapItems('@item.AttributeId')" style="cursor:pointer">
                                </div>
                            </div>
                            <label for="Name_@count" class="form-control">@item.AttributeName</label>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row">
                <small>UnMapped Attributes Will Be Displayed Here</small>
            </div>
        }
    </td>
</tr>

