@using Entities.Models;
@model ViewVariantCombinationModel
@{
    var attrDDl = new SelectList(Model.Attributes, "Id", "Name");
}


<input type="hidden" id="hdGroupId" asp-for=CombinationId />
<div class="form-group row">
    <div class="col-md-3">
        <label class="col-form-labelabel-block required" for="AttributeTypeName">Attribute</label>
    </div>
    <div class="col-md-9">
        <select class="form-control" id="AttributeId" name="AttributeId" asp-items="@attrDDl">
            <option value="0">Select Attribute</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3">
        <label class="col-form-label required" for="AttrValue">Attribute Vaue</label>
    </div>
    <div class="col-md-9">
        <input class="form-control" id="AttrValue" name="AttrValue" type="text">
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3">
        <label class="col-form-label" for="AllowFiltering">Allow filtering</label>
    </div>
    <div class="col-md-9">
        <input class="check-box" id="AllowFiltering" name="AllowFiltering" type="checkbox" />
    </div>
</div>
<hr />
<div class="row mt-3">
    <button class="btn btn-primary ml-2" id="btnAttributeSubmit">Add Attribute</button>
</div>


<script>
    $('#btnAttributeSubmit').click(function () {
        let param = {
            AttributeId: $('#AttributeId').val(),
            AttributeText: $("#AttributeId option:selected").text(),
            AttrValue: $('#AttrValue').val(),
            AllowFiltering: $('#AllowFiltering').is(':checked') ? "checked" : "",
            ShowOnProductPage: $('#ShowOnProductPage').is(':checked') ? "checked" : ""
        };
        if(param.AttributeId == '0'){
            Q.notify(-1, 'Select a Attribute');
            return false;
        }
        if(param.AttrValue == ''){
            Q.notify(-1, 'Enter Attribute Value');
            return false;
        }
        let groupId = $('#hdGroupId').val();
        let attributeGrid = $(`#${groupId} .attributeGrid`);
        if (attributeGrid.find(`[data-attr-Id="${param.AttributeId}"]`).length > 0) {
            Q.notify(-1, 'Already Added.Please add new attribute!!');
            return false;
        }
        let _html = `<tr data-attr-Id="${param.AttributeId}" data-attr-value="${param.AttrValue}" data-filter-allowed=${param.AllowFiltering}>
                            <td>${attributeGrid.find('tr').length}</td>
                            <td>${param.AttributeText}</td>
                            <td>${param.AttrValue}</td>
                            <td>${param.AllowFiltering}</td>
                            <td><span class="btn btn-danger rmRow"><i class="fa fa-times"></i><span></td>
                         </tr>`;
        attributeGrid.append(_html);
        if (param.AttributeId == "1" || param.AttributeText == "Color") {
            $('#attrColor option[value="Default"]').remove();
            $('tr[data-color-value="Default"]').remove();
            groupId = $('.attrCombination').length;
            let _option = `<option value="${param.AttrValue}" data-group-Id="${groupId}">${param.AttrValue}</option>`;
            $('#attrColor').append(_option);
        }
    });
</script>