<div class="col-md-12" id="@DateTime.Now.ToString("ddMMyyyyhhmmssmmm")">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped pictureGrid">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-nowrap">Picture</th>
                    <th class="text-nowrap">Display Order</th>
                    <th class="text-nowrap">Alt</th>
                    <th class="text-nowrap">Title</th>
                    <th class="text-nowrap">Color</th>
                    <th class="text-nowrap">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="form-group row">
        <div class="col-md-3 label-wrapper">
            <label class="col-form-label required" for="Price">Picture</label>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <input class="text-box single-line" type="file" accept=".jpg,jpeg" id="PictureFile" name="PictureFile" multiple>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label required" for="Alt">Alt</label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="Alt" name="Alt">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label required" for="Title">Title</label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="Title" name="Title">
            </div>
        </div>
    </div>
@*    <div class="form-group row d-none">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label required" for="Displayorder">Display order</label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required ">
                <input class="form-control text-box single-line" type="number" id="DisplayOrder" name="DisplayOrder" value="1">
            </div>
        </div>
    </div>
*@    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label required" for="Displayorder">Colors</label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <select class="form-control text-box single-line" id="attrColor">
                    <option value="Default" data-group-Id="1">Default</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <button class="btn btn-sm btn-success" type="button" id="AddProductImg">UPLOAD</button>
            </div>
        </div>
    </div>
</div>




