<style>
    .input-group-text {
        height: 38px;
    }
</style>
<div class="col-md-12 attrCombination" id="@DateTime.Now.ToString("ddMMyyyyhhmmssmmm")">
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label required" for="Title">Title</label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" name="Title">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 label-wrapper">
            <label class="col-form-label required" for="Price">MRP</label>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="MRP" name="MRP" value="0">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label required" for="SellingCost">Selling Cost</label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="SellingCost" name="SellingCost" value="0">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 label-wrapper">
            <label class="col-form-label required" for="Quantity">Quantity</label>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" name="Quantity" value="1">
            </div>
        </div>
        <div class="col-md-1 label-wrapper">
            <label class="col-form-label required" for="Quantity">Return</label>
        </div>
          <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" name="ReturnInDays" value="0" placeholder="Return In Days">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label" for="HSN">HSN</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="HSN_1" name="HSN">
            </div>
        </div>
        <div class="col-md-1 label-wrapper">
            <label class="col-form-label" for="GTIN">GTIN</label>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="GTIN_1" name="GTIN">
            </div>
        </div>
    </div>
     <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label" for="HSN">Warranty</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" name="Warranty" value="0" placeholder="Warrent in Numbers">
            </div>
        </div>
        <div class="col-md-1 label-wrapper">
            <label class="col-form-label" for="GTIN">Warranty Unit</label>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <select class="form-control" name="WarrantyUnit">
                    <option value="YEAR"> YEAR </option>
                    <option value="MONTH"> MONTH </option>
                    </select>
            </div>
        </div>
     </div>


    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label" for="HSN">Discount Rate</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="Discountrate" name="Discountrate" value="0" placeholder="Discount Rate">
            </div>
        </div>
       
    </div>

    <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="IsFeatured" id="IsFeatured" class="mt-0">
                    </div>
                </div>
                <label class="form-control" for="IsFeatured">IsFeatured</label>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="IsShowOnHome" id="IsShowOnHome">
                    </div>
                </div>
                <label class="form-control" for="IsShowOnHome">Is Show On Home</label>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-sm btn-info btnAddNewAttribute mb-2 float-right">Add Attribute</button>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped attributeGrid">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-nowrap">Attribute</th>
                    <th class="text-nowrap">Attribute Value</th>
                    <th class="text-nowrap">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

