<style>
    .input-group-text {
        height: 38px;
    }
</style>
<div class="col-md-12 attrCombination" id="@DateTime.Now.ToString("ddMMyyyyhhmmssmmm")">
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label" for="Title">Title</label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" id="titlewords" type="text" name="Title" required>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 label-wrapper">
            <label class="col-form-label" for="Price">MRP</label>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="MRP" name="MRP" value="0" required>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label" for="SellingCost" id="sellingcost">Selling Cost</label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="SellingCst" name="SellingCost" value="0" required>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 label-wrapper">
            <label class="col-form-label" for="Quantity">Quantity</label>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" name="Quantity" value="1" id="quantity" required>
            </div>
        </div>
        <div class="col-md-1 label-wrapper">
            <label class="col-form-label" for="Quantity">Return In Days</label>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" name="ReturnInDays" value="0" placeholder="Return In Days" id="returnhere">
            </div>
        </div>
    </div>
  @*  <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label" for="HSN">HSN</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="HSN_1" name="HSN">
            </div>
        </div>
        <div class="col-md-1 label-wrapper">
            <label class="col-form-label" for="GTIN">GTIN</label>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="GTIN_1" name="GTIN">
            </div>
        </div>
    </div>*@
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label" for="HSN">Warranty</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" name="Warranty" value="0" placeholder="Warrent in Numbers" id="warranty">
            </div>
        </div>
        <div class="col-md-1 label-wrapper">
            <label class="col-form-label" for="GTIN">Warranty Unit</label>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <select class="form-control" name="WarrantyUnit" id="yearmonth">
                    <option value="YEAR"> YEAR </option>
                    <option value="MONTH"> MONTH </option>
                </select>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label" for="HSN">Discount Rate</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" id="Discountrate" name="Discountrate" value="0" placeholder="Discount Rate">
            </div>
        </div>
        <div class="col-md-1 label-wrapper">
            <label class="col-form-label">Special Discount</label>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
                <input class="form-control text-box single-line" type="text" name="SpecialDiscount" value="0" id="SpecialDiscount">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label">Special Discount Type</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-control">
                <input type="radio" name="spcldisctype" value="P" id="Percentage"><label for="Percentage" class="mr-5" style="font-weight:300">Percentage</label>
                <input type="radio" name="spcldisctype" value="F" id="FixedAmount"><label for="FixedAmount" style="font-weight:300">FixedAmount</label>
            </div>
        </div>
        <div class="col-md-1 label-wrapper">
            <label class="col-form-label">Coupons</label>
        </div>
        <div class="col-md-4">
            <div class="input-group input-group-required">
               @{
                    var list1 = new SelectList(@ViewBag.Coupons, "CouponId", "CouponCode");
                    <select title="Select Circle" aria-describedby="helpBL" class="form-control" id="ddlCoupon" tabindex="4" asp-items="@list1">
                        <option value="0"> :: Select :: </option>
                    </select>
                }
            </div>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-3">
            <div class="label-wrapper">
                <label class="col-form-label" for="Specification">Specification</label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                <textarea class="form-control" id="specification" name="specification"></textarea>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="IsFeatured" id="IsFeatured" class="mt-0">
                    </div>
                </div>
                <label class="form-control" for="IsFeatured">IsFeatured</label>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" class="mb-2" name="IsShowOnHome" id="IsShowOnHome">
                    </div>
                </div>
                <label class="form-control" for="IsShowOnHome">Is Show On Home</label>
            </div>
        </div>
    </div>
    <span class="text-red" id="alertText"></span>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped attributeGrid" id="dataTable1">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-nowrap">Attribute</th>
                    <th class="text-nowrap">Attribute Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="form-group row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-lg btn-info mb-2 btn-primary" onclick="recordsintable()">Add</button>
        </div>
    </div>

    <span class="text-danger" id="alertexists"></span>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped d-none" id="dataTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-nowrap">Title</th>
                    <th class="text-nowrap">MRP</th>
                    <th class="text-nowrap">Selling Cost</th>
                    <th class="text-nowrap">Quantity</th>
                    <th class="text-nowrap">Return</th>
                   @* <th class="text-nowrap">HSN</th>
                    <th class="text-nowrap">GTIN</th>*@
                    <th class="text-nowrap">Warranty</th>
                    <th class="text-nowrap">Warranty Unit</th>
                    <th class="text-nowrap">Discount Rate</th>
                    <th class="text-nowrap">Special Discount</th>
                    <th class="text-nowrap">Special Discount Type</th>
                    <th class="text-nowrap">IsFeatured</th>
                    <th class="text-nowrap">Is Show On Home</th>
                    <th class="text-nowrap">Specification</th>
                    <th class="text-nowrap">Attribute</th>
                    <th class="text-nowrap">Action</th>

                </tr>
            </thead>
            <tbody class="tblgroupinfo"></tbody>
        </table>
    </div>
    <div class="row d-none" style="justify-content: right;" id="btnProceed">
        <div class="col-sm-3 d-flex" style="justify-content: flex-end;">
            <button class="btn btn-sm btn-success">Proceed</button>
        </div>
    </div>
</div>