@using WebApp.Models.ViewModels;
@model ProductViewModel
@{
    var catDDl = new SelectList(Model.Categories, "CategoryId", "CategoryName");
    var brandDDL = new SelectList(Model.Brands, "Id", "Name");
}
<style>
    .error {
        color: crimson;
    }
    .input-group-text{
        height: 38px;
    }
</style>

<form method="post" asp-action="AddProduct" asp-controller="Product">
    <div class="content-header clearfix">
        <h1 class="float-left">
            Product & Shipping Details
        </h1>
        <div class="float-right">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
    <section class="content mt-2">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div id="">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ShippingDetailId" />
                    <div class="card card-secondary card-outline" data-card-name="product-info" id="product-info">
                        <div class="card-header with-border clearfix">
                            <div class="card-title">
                                <i class="fas fa-info"></i>Product Details
                            </div>
                            <div class="card-tools float-right"><button class="btn btn-tool" data-card-widget="collapse" type="button"><i class="fa toggle-icon fa-minus"></i></button></div>

                        </div>
                        <div class="card-body">
                            <div id="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <div class="input-group">
                                            <select asp-for="CategoryId" class="form-control select2" asp-items="@catDDl">
                                                <option value="0">Select Category</option>
                                            </select>
                                            <div class="input-group-append" onclick="dialog.category()">
                                                <div class="input-group-text">
                                                    <i class="fa fa-magic" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Brand</label>
                                        <div class="input-group">
                                            <select asp-for="BrandId" class="form-control" asp-items="@brandDDL">
                                                <option value="0">Select Brand</option>
                                            </select>
                                            <div class="input-group-append" onclick="dialog.brand()">
                                                <div class="input-group-text">
                                                    <i class="fa fa-magic" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group"></div>
                                        <label>Name</label>
                                        <input class="form-control text-box single-line" asp-for="Name" type="text">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label>SKU</label>
                                        <input class="form-control text-box single-line" asp-for="SKU" type="text">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input class="form-control text-box single-line" asp-for="Title" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea asp-for="Description" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
    <section class="content mt-2">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div id="AttributeView">
                    <div class="card card-secondary card-outline" data-card-name="product-info" id="product-info">
                        <div class="card-header with-border clearfix">
                            <div class="card-title">
                                <i class="fas fa-info"></i>Shipping Address
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label>Charges</label>
                                    <input class="form-control text-box single-line" asp-for="Charges">
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <label>Free On Amount</label>
                                    <input class="form-control text-box single-line" asp-for="FreeOnAmount">
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <input class="" asp-for="IsFlat" type="checkbox">
                                        <label class="ml-2">IsFlat</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section scripts{
    <script>
        $('#Charges, #FreeOnAmount').numeric({
            numericType: "numeric",
            maxLength: 9
        });
    </script>
}
