@using WebApp.Models.ViewModels;
@model ProductViewModel
@{
    var catDDl = new SelectList(Model.Categories, "CategoryId", "CategoryName");
    var brandDDL = new SelectList(Model.Brands, "Id", "Name");
}
<form method="post" asp-action="AddProduct">
    <div class="card-body">
        <div id="product-details-area">
            <div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="col-form-label" for="SelectedCategoryIds" id="SelectedCategoryIds_label">Categories</label>
                    </div>
                    <div class="col-md-9">
                        <select asp-for="CategoryId" class="form-control select2" asp-items="@catDDl">
                            <option value="0">Select Category</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="col-form-label">Brand</label>
                    </div>
                    <div class="col-md-9">
                        <select asp-for="BrandId" class="form-control" asp-items="@brandDDL">
                            <option value="0">Select Brand</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="col-form-label" for="Name">Name <span class="required"></span></label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" asp-for="Name" type="text">
                        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="col-form-label" for="Name">Title <span class="required"></span></label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" asp-for="Title" type="text">
                        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="col-form-label" for="FullDescription">Description</label>
                    </div>
                    <div class="col-md-9">
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label class="col-form-label" for="Sku">SKU</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control text-box single-line" asp-for="SKU" type="text">
                    <span class="field-validation-valid" data-valmsg-for="Sku" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row text-center">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</form>

<script>
    //$('.select2').select2();
</script>
