


<style>
    .custOne {
        height: 0px;
        overflow: hidden;
    }

    .custTwo {
        width: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 0px
    }
</style>


<div class="card card-secondary card-outline" data-card-name="product-info" data-hideattribute="ProductPage.HideInfoBlock" id="product-info">
    <div class="card-header with-border clearfix"><div class="card-title"><i class="fas fa-info"></i>Attribute Combination</div><div class="card-tools float-right"><button class="btn btn-tool" data-card-widget="collapse" type="button"><i class="fa toggle-icon fa-minus"></i></button></div></div>
    <div class="card-body">
        <div id="attributecombinations-grid_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <input type="button" id="btnAddNewAttribute" class="btn btn-primary" value="Add Attribute" />
                </div>
                <div class="col-md-12">
                    <div class="dataTables_scroll">
                        <input type="hidden" id="Counter" value="1" />
                        <table class="table table-bordered table-hover table-striped dataTable no-footer" width="100%" id="attributecombinations-grid" role="grid" aria-describedby="attributecombinations-grid_info" style="width: 100%;">
                            <thead>
                                <tr role="row" style="height: 0px;">
                                    <th class="sorting_disabled custTwo" rowspan="1" colspan="1">
                                        Attribute
                                    </th>
                                    <th class="sorting_disabled custTwo" rowspan="1" colspan="1">
                                        Allow filtering
                                    </th>
                                    <th class="sorting_disabled custTwo" rowspan="1" colspan="1">
                                        Show on product page
                                    </th>
                                    <th class="sorting_disabled custTwo" rowspan="1" colspan="1">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select class="form-control" id="Attribute_1">
                                            <option value="1">Color</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="" type="checkbox" id="isFiltering_1" />
                                    </td>
                                    <td>
                                        <input class="" type="checkbox" id="isShow_1" />
                                    </td>
                                    <td>
                                        <input class="btn btn-primary" type="button" id="edit_1" value="Edit" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <div class="label-wrapper"><label class="col-form-label" for="Value">Value</label><div title="Enter Value for Attribute" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group input-group-required">
                                                    <input class="form-control text-box single-line" type="text" id="Value_1" name="Value">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <div class="label-wrapper"><label class="col-form-label" for="HSN">HSN</label><div title="Enter Value for HSN" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group input-group-required">
                                                    <input class="form-control text-box single-line" type="text" id="HSN_1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <div class="label-wrapper"><label class="col-form-label" for="Price">Price</label><div title="Enter Value for Price" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group input-group-required">
                                                    <input class="form-control text-box single-line" type="text" id="Price_1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <div class="label-wrapper"><label class="col-form-label" for="GTIN">Quantity</label><div title="Enter Value for GTIN" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group input-group-required">
                                                    <input class="form-control text-box single-line" type="text" id="Quantity_1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <div class="label-wrapper"><label class="col-form-label" for="GTIN">GTIN</label><div title="Enter Value for GTIN" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group input-group-required">
                                                    <input class="form-control text-box single-line" type="text" id="GTIN_1">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnAddNewAttribute').unbind().click(() => {
        $.post('/Product/AddAttributes').done((result) => {
            Q.alert({
                title: 'Add Attribute',
                body: result,
                width: 900
            });
        })
    })
    $(document).on('click', '#btnAttributeSubmit', function () {
        let param = {
            Attribute: $('#AttributeId').val(),
            AllowFiltering: $('#AllowFiltering').is(':checked'),
            ShowOnProductPage: $('#ShowOnProductPage').is(':checked')
        };
        let count = parseInt($('#Counter').val());
        count = count + 1;
        $('#Counter').val(count);
        $('.ui-dialog-titlebar-close').click();
        console.log('count s: ', count);
        let _html = `<tr>
                             <td>
                                 <select class="form-control" id="Attribute_${count}">
                                  <option value="1">Color</option>
                                  <option selected value="2">Size</option>
                                 </select>
                             </td>
                             <td>
                                     <input class="" checked="${param.AllowFiltering}" type="checkbox" id="isFiltering_${count}" />
                             </td>
                             <td>
                                     <input class="" checked="${param.ShowOnProductPage}" type="checkbox" id="isShow_${count}" />
                             </td>
                             <td>
                                 <input class="btn btn-primary edit" type="button" id="edit_${count}" value="Edit" />
                             </td>
                         </tr>
                         <tr>
                             <td colspan="4">
                                 <div class="form-group row">
                                     <div class="col-md-3">
                                         <div class="label-wrapper"><label class="col-form-label" for="Value">Value</label><div title="Enter Value for Attribute" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="input-group input-group-required">
                                             <input class="form-control text-box single-line" type="text" id="Value_${count}" name="Value_${count}">
                                         </div>
                                     </div>
                                 </div>
                                 <div class="form-group row">
                                     <div class="col-md-3">
                                         <div class="label-wrapper"><label class="col-form-label" for="HSN">HSN</label><div title="Enter Value for HSN" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="input-group input-group-required">
                                             <input class="form-control text-box single-line" type="text" id="HSN_${count}">
                                         </div>
                                     </div>
                                 </div>
                                 <div class="form-group row">
                                     <div class="col-md-3">
                                         <div class="label-wrapper"><label class="col-form-label" for="Price">Price</label><div title="Enter Value for Price" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="input-group input-group-required">
                                             <input class="form-control text-box single-line" type="text" id="Price_${count}">
                                         </div>
                                     </div>
                                 </div>
                                     <div class="form-group row">
                                         <div class="col-md-3">
                                                 <div class="label-wrapper"><label class="col-form-label" for="GTIN">Quantity</label><div title="Enter Value for GTIN" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                         </div>
                                         <div class="col-md-9">
                                             <div class="input-group input-group-required">
                                                 <input class="form-control text-box single-line" type="text" id="Quantity_${count}">
                                             </div>
                                         </div>
                                     </div>
                                 <div class="form-group row">
                                     <div class="col-md-3">
                                         <div class="label-wrapper"><label class="col-form-label" for="GTIN">GTIN</label><div title="Enter Value for GTIN" data-toggle="tooltip" class="ico-help"><i class="fas fa-question-circle"></i></div></div>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="input-group input-group-required">
                                             <input class="form-control text-box single-line" type="text" id="GTIN_${count}">
                                         </div>
                                     </div>
                                 </div>
                             </td>
                         </tr>`;
        $('#attributecombinations-grid tr:last').after(_html);
    })
</script>
