@using Entities.Models;
@{
    Layout = "~/views/shared/_Adminlayout.cshtml";
}
@model Category

<form asp-action="Create" method="Post">
    <nop-card>
        <div class="card card-secondary card-outline">
            <div class="card-header with-border clearfix">
                <div class="card-title">Product info</div>
                <div class="card-tools float-right">
                    <button class="btn btn-tool" data-card-widget="collapse" type="button"><i class="fa toggle-icon fa-minus"></i></button></div></div>
            <div class="card-body">
                <input type="hidden" asp-for="CategoryId">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="product-details-area">
                    <div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label class="col-form-label" for="Name">Category Name</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-required">
                                    <input class="form-control text-box single-line" asp-for="CategoryName"  type="text" required="Please fill category name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label class="col-form-label">Parent Id</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" asp-for="ParentId">
                                    <option value="0">ParendId</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="col-form-label">IsPublish</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                                <input type="checkbox" asp-for="IsPublish">                            
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="col-form-label">Icon</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input type="file" asp-for="Icon" accept=".svg">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <input class="" type="submit" value="Submit">
            </div>

        </div>

    </nop-card>

</form>