<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.web>
    <sessionState mode="InProc" timeout="60"></sessionState>
</system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: cf351c7e-0678-4ec0-9abd-3048381989e7-->