@{
    Layout = "_layout";
}
<div class="breadcrumb-main">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>Customer Profile</h2>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="javascript:void(0)">Customer Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cart-section order-history section-big-py-space">
    <div class="container">
<div class="row p-5">
    <div class="col-md-2 mb-3">
        <ul class="nav nav-pills flex-column" id="experienceTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#snit" role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#devs" role="tab" aria-controls="profile" aria-selected="false">
                    <label><small>ORDER</small></label>
                    Orders & Returns
                </a>
            </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#tab-3" role="tab" aria-controls="profile" aria-selected="false">
                            <label><small>ORDER</small></label>
                            Orders & Returns
                        </a>
                    </li>
        </ul>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-10">
        <div class="tab-content" id="experienceTabContent">

            <div class="tab-pane fade show active text-left" id="snit" role="tabpanel" aria-labelledby="home-tab">
                <h3>Field 1</h3>
                <span class="date-range code-font">Other Details</span>
                <ul class="pt-2">
                    <li>The cats are cute.</li>
                    <li>The birds are singing.</li>
                </ul>
            </div>

            <div class="tab-pane fade text-left" id="devs" role="tabpanel" aria-labelledby="profile-tab">
                <h3>Field 2</h3>
                <span class="date-range code-font">Other Details</span>
                <ul class="pt-2">
                    <li>The volcano is eruting.</li>
                    <li>Everything is on fire.</li>
                </ul>
            </div>

                    <div class="tab-pane fade text-left" id="tab-3" role="tabpanel" aria-labelledby="profile-tab2">
                        <h3>Field 3</h3>
                        <span class="date-range code-font">Other Details</span>
                        <ul class="pt-2">
                            <li>The volcano is eruting.</li>
                            <li>Everything is on fire.</li>
                        </ul>
                    </div>
        </div><!--tab content end-->
    </div><!-- col-md-8 end -->
</div>
</div>
</div>
