@{
    Layout = "_layout";
}


<div class="cart-section order-history section-big-py-space">
    <div class="container">
<div class="row p-5">
    <div class="col-md-2 mb-3">
        <ul class="nav nav-pills flex-column" id="experienceTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab"  href="/UserOrderHistory"  aria-selected="false">
                    <label><small>ORDER</small></label>
                    Orders & Returns
                </a>
            </li>
                  @*  <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#tab-3" role="tab" aria-controls="profile" aria-selected="false">
                            <label><small>ORDER</small></label>
                            Orders & Returns
                        </a>
                    </li>*@
        </ul>
    </div>
  
</div>
</div>
</div>
