<div class="content-header clearfix">
    <h1 class="float-left">
        Top Lower Banner
    </h1>
    <div class="float-right btnAddNewBanner">
        <a class="btn btn-primary" href="javascript:void(0)" onclick="AddNewItem()">
            <i class="fas fa-plus-square"></i>
            Add new
        </a>
    </div>
</div>
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" id="Grid">
                        <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>BannerPath</th>
                                <th>Title</th>
                                <th>Subtitle</th>
                                <th>BackLinkText</th>
                                <th>BackLinkURL</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(() => {
            loadData();
        })
        var loadData = () => {
            $.post('/TopLowerBanner/TopLowerBannerList').done(function (result) {
                console.log(result);
                $('#Grid tbody').html(result);
            }).fail(function (xhr) {
                console.log(xhr.responseText);
            })
        };

        var AddNewItem = function (Id = 0) {
            $.get('/TopLowerBanner/Edit', { Id }).done((result) => {
                Q.alert({
                    title: 'Top Lower Banner',
                    body: result,
                    width: 800
                });
            })
        };
        var Delete = (Id) => Q.confirm("Are You Sure. You Want To Delete This Banner", () => DeleteItem(Id));
        var DeleteItem = function (Id = 0) {
            $.post('/TopLowerBanner/Delete',  { Id}).done((result) => {
                console.log('result :', result);
                Q.notify(result.statusCode,result.responseText);
                if(result.statusCode)
                    loadData();
            })
        };
    </script>
}