@model bool
@{
    Layout = "_layout";

}
<link href="/lib/jquery-ui/dist/css/jquery-ui.min.css" rel="stylesheet" />
<style>
    .contact-page .theme-form {
        padding: 20px;
        background-color: #f1f4f7;
        border: 0px solid #ffffff;
        margin-bottom: 20px;
    }

    .box {
        background-color: #fff;
        border-radius: 8px;
        border: 2px solid #e9ebef;
        padding: 20px;
        margin-bottom: 20px;
    }

    .box-title {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: #094bde;
        letter-spacing: 2px;
    }

    .plan-selection {
        border-bottom: 2px solid #e9ebef;
        padding-bottom: 25px;
        margin-bottom: 35px;
    }

        .plan-selection:last-child {
            border-bottom: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

    .plan-data {
        position: relative;
    }

        .plan-data label {
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 400;
        }

    .plan-text {
        padding-left: 15px;
    }

    .plan-price {
        position: absolute;
        right: 0px;
        color: #094bde;
        font-size: 20px;
        font-weight: 700;
        top: 0;
    }

    /*
                                                                                                                                * SVG Icons
                                                                                                                                **********************************************************/
    .svg {
        display: block;
        position: absolute;
        top: 2px;
        right: 15px;
        width: 45px;
        height: 45px;
    }

    /*
                                                                                                                                * Buttons
                                                                                                                                **********************************************************/
    .button {
        position: relative;
        height: 50px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 48px;
        border-bottom: 1px solid #bbb;
        background: #fafafa;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-page .theme-form input {
        padding: 8px 20px;
        margin-bottom: 0px;
    }

    .button:hover {
        background: #f5f5f5;
    }


    .button img {
        width: 30px;
        height: 30px;
    }

    @@media all and (min-width: 500px) {
        .svg {
            right: 25px;
            width: 55px;
            height: 55px;
        }

        .button {
            height: 60px;
            padding: 10px 20px;
            font-size: 16px;
            line-height: 58px;
        }

            .button img {
                width: 40px;
                height: 40px;
            }
        /*.button:after {
                                                                                                                        top: 20px;
                                                                                                                        left: 23px;
                                                                                                                    }*/
    }
    /*
                                                                                                                                * Breakpoint
                                                                                                                                **********************************************************/
    @@media all and (min-width: 700px) {
        .svg {
            top: auto !important;
            right: 0 !important;
            left: 0;
            margin: auto;
            bottom: 10px;
            width: 60px;
            height: 60px;
        }



        .payments {
            max-width: 700px;
            margin: 0 auto;
            padding: 0px;
            overflow: hidden;
            display: flex;
            min-height: 150px;
        }

        .button {
            width: 150px;
            height: 150px;
            margin-right: 10px;
            padding: 20px 0;
            font-size: 18px;
            line-height: 1;
            text-align: center;
            border: 0;
            border-radius: 3px;
            box-shadow: inset 0 0 0 1px #bbb;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

            .button img {
                width: 60px;
                height: 60px;
            }

            .button:last-child {
                margin-right: 0;
            }
        /*.button:after {
                                                                                                                        top: 15px;
                                                                                                                        left: 55px;
                                                                                                                    }*/
    }</style>

<!-- section start -->
<section class="section-big-py-space b-g-light pt-4">
    <div class="custom-container">
        <div class="checkout-page contact-page">
            <div class="checkout-form" id="checkoutSection">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12" id="dbAddress">
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12" id="dvPlaceOrderDetails">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/clientapp/js/dialog.js"></script>
    <script>
        window.addEventListener("storage", e => {
            let result = $.parseJSON(event.newValue);
            if (result.hasOwnProperty("origin")) {
                if (result.origin === 'addMoney') {
                    let paymentPendings = ['', '0', '1', 'pending', 'p'];
                    let isPending = paymentPendings.includes(result.paymentStatus?.toString().toLowerCase());
                    let iconSrc = `/Image/iconMsg/${isPending ? '10' : (result.paymentStatus == 'success' ? '1' : '11')}.png`;
                    let h3Class = `${isPending ? 'text-info' : (result.paymentStatus == 'success' ? 'text-success' : 'text-danger')}`;
                    let statusText = `${isPending ? 'Transaction Pending' : (result.paymentStatus == 'success' ? 'Transaction Successful' : 'Transaction Failed')}`;
                    let _html = `<div class="row">
                                                                                                                                                <div class="col-sm-12 text-center">
                                                                                                                                                                                             <img src="${iconSrc}" />
                                                                                                                                                                                             <h3 class="${h3Class}">${statusText}<br/>
                                                                                                                                                                                                        <small>${result.statuscode == -1 ? result.paymentStatus : ''}</small>
                                                                                                                                                                                              </h3>
                                                                                                                                                                                           </div>
                                                                                                                                                                                         </div>`;
                    Q.alert({
                        title: 'Transaction Status',
                        body: _html,
                        width: 600,
                        onClose: function () {
                            if (result?.paymentStatus == 'success') {
                                window.location.href = "/UserOrderHistory";
                            }
                        }
                    });
                }
            }
        }, true);

        $(document).ready(function () {
            loadAddressDetails();
            const buynow = '@Model';
            loadPlaceOrderCart(buynow.toLowerCase() === 'true' ? true : false);
        });
        const loadAddressDetails = async function () {
            await $.post("/GetUserAddress").done(res => {
                $('#dbAddress').html(res);
                $('#dvshowaddress').removeClass('d-none');
            }).fail(xhr => Q.xhrError(xhr)).always(() => "");
        }
        const loadPlaceOrderCart = async function (IsBuyNow = false, PaymentMode = 1) {
            await $.post("/_CartPlaceOrder", { IsBuyNow: IsBuyNow, PaymentMode: PaymentMode }).done(async res => {
                $('#dvPlaceOrderDetails').html(res);
                await loadpaymentmode(PaymentMode);
            }).fail(xhr => Q.xhrError(xhr)).always(() => $("#btnAutocoupon").click());
        }
        $(document).on('click', '[name="paymentMode"]', (e) => {
            const buynow = '@Model';
            let _parent = $(e.currentTarget).parents('#checkoutSection');
            var paymentMode = _parent.find('[name="paymentMode"]:checked').data().paymentMode;
            loadPlaceOrderCart(buynow.toLowerCase() === 'true' ? true : false, paymentMode)
        });

        $(document).on('click', '#btnPlaceOrder', (e) => {
            const url = new URL(window.location);
            const isbuynow = url.pathname.replace('/checkout/', '');

            let _parent = $(e.currentTarget).parents('#checkoutSection');
            let __coupons = [];
            $('ul#appliedCoupons').find('li').each(function () {
                __coupons.push($(this).data())
            });
            let couponStr = __coupons.map(x => x.couponCode).join(',');

            let item = {
                AddressID: _parent.find('[name="address"]:checked').data().addressId,
                PaymentMode: _parent.find('[name="paymentMode"]:checked').data().paymentMode,
                IsBuyNow: isbuynow?.toLowerCase(),
                Coupon: couponStr,
                Remark: ""
            };
            $.post("/PlaceOrder", item).done(res => {
                if (typeof res === 'object') {
                    if (res.statusCode != 1 && res.statusCode == 2) {
                        window.location.href = '/CartDetails';;
                    }
                    if (res.statusCode != 1) {
                        Q.notify(res.statusCode, res.responseText)
                    }
                    else {
                        Q.notify(res.statusCode, res.responseText)
                        setTimeout(
                            function () {
                                window.location.href = '/UserOrderHistory';
                            }, 2000);

                    }
                }
                else {
                    var myWindow = window.open("", "_blank", "toolbar=0 width=650px,height=650px");
                    myWindow.document.write(res);

                }
            }).fail(xhr => Q.xhrError(xhr)).always(() => "");
        });

        var loadStateDDL = (selector) => {
            $.post(baseURL + "/State/GetStateDDL").done(function (result) {
                if (selector) {
                    $(selector).html(`<option value=""> Select State </option>`).append(result.map(x => { return `<option value="${x.id}"> ${x.stateName} </option>` }))
                }
            }).fail(function (xhr) {
                console.log(xhr.responseText);
                alert('something went wrong');
            })
        }
        var loadpaymentmode = async (PaymentMode) => {
            await $.post("/GetPaymentMode", { IsCod: $('#IsCod').is(':checked') }).done(res => {
                $.each(res.result, async function (i, v) {
                    //let current = i == 0 ? "checked" : "";
                    let current = (PaymentMode == v.id || i == 0) ? "checked" : "";
                    $('#dvPaymentModes').append(`<div class='button '>
                                                                                                                                                            <input type="radio" name="paymentMode" data-payment-Mode="${v.id}" ${current}> ${v.name}
                                                                                                                                                            <img src="${v.icon}" />
                                                                                                                                                         </div>`);
                });
            }).fail(xhr => Q.xhrError(xhr)).always(() => "");
        }

        $(document).on('click', '.btnRemovecoupon', async (e) => {
            let currentLi = $(e.currentTarget).closest('li');
            let __coupons = [];
            $('ul#appliedCoupons').find('li').not(currentLi).each(function () {
                __coupons.push($(this).data())
            });
            let couponStr = __coupons.map(x => x.couponCode).join(',');
            if (couponStr !== '') {
                var res = await applyCoupon(couponStr, true);
                if (res.status) {
                    currentLi.remove();
                    appendCoupons(__coupons, res.discount);
                }
            }
            else {
                appendCoupons(__coupons, 0);
            }
        });

        $(document).on('click', '#btnApplycoupon,#btnBulkcoupon', async (e) => {
            let __coupons = [];
            $('.couponslist').find('input[type="checkbox"]:checked').each(function (i) {
                __coupons.push($(this).closest('li').data())
            });
            let res = await applyCoupon(__coupons.map(x => x.couponCode).join(','), false)
            if (res.status) {
                appendCoupons(__coupons, res.discount);
            }
        });
        $(document).on('click', '#btnAutocoupon', async (e) => {
            let __coupons = [];
            $('#appliedCoupons').find('li').each(function (i) {
                __coupons.push($(this).closest('li').data())
            });
            __coupons = __coupons.filter(item => item.isAutoapply === true);
            if (__coupons.length > 0) {
                let res = await applyCoupon(__coupons.map(x => x.couponCode).join(','), false)
                if (res.status) {
                    appendCoupons(__coupons, res.discount);
                }
            }
        });

        $(document).on('click', '#btnallcoupon', (e) => {
            var paymentmode = $("#dvPaymentModes").find('[name="paymentMode"]:checked').data().paymentMode;
            dialog.getAllcoupon(paymentmode);
        });

        var applyCoupon = async (coupons, isRemove) => {
            try {
                let item = {
                    Coupons: coupons,
                    IsRemove: isRemove
                };
                const res = await $.post("/ApplyCoupon", item);
                if (typeof res === 'object') {
                    Q.notify(res.statusCode, res.responseText)
                    if (res.statusCode === 1) {
                        return { status: true, discount: res.totalDisCountAmount };
                    }
                }
                return false;
            }
            catch (error) {
                Q.xhrError(error);
                console.error(error);
            }
        };

        var appendCoupons = (coupons, totalDiscount) => {
            let _html = '';
            for (let i = 0; i < coupons.length; i++) {
                let c = coupons[i];
                let _saveTxt = ` <span>You Saved <i class="fa fa-inr" aria-hidden="true"></i> ${c.couponValue} </span>`;
                if (c.isFixed == 'False') {
                    _saveTxt = ` <span>You Saved ${c.couponValue}% </span>`;
                }
                _html = _html + `<li data-coupon-code="${c.couponCode}" data-is-fixed="${c.isFixed}" data-coupon-value=${c.couponValue}>
                                                                                                                                            <span class="code-lable cc">${c.couponCode}</span>
                                                                                                                                            ${_saveTxt}
                                                                                                                                            <div class="text-right cus-remove-coupon">
                                                                                                                                                <a href="javascript:void(0)" class="btn-normal-danger btn btnRemovecoupon">Remove</a>
                                                                                                                                            </div>
                                                                                                                                         </li>`;
            }
            $("ul#appliedCoupons").html(_html);
            $('ul#totalDiscount').remove();
            if (totalDiscount > 0) {
                $('ul.sub-total').after(`<ul id="totalDiscount">
                                                                                                                                                     <li>
                                                                                                                                                        <div class="row">
                                                                                                                                                           <div class="col-md-7">Total Coupon Discount</div>
                                                                                                                                                           <div class="col-md-5 text-right">
                                                                                                                                                               <span class="count"><i class="fa fa-inr" aria-hidden="true"></i> ${totalDiscount}</span>
                                                                                                                                                           </div>
                                                                                                                                                        </div>
                                                                                                                                                     </li></ul>`);
            }
            let _payable = parseFloat($('#totalPayable').data().totalPayable);
            _payable = _payable - totalDiscount;
            $('#totalPayable').text(_payable);
        };
    </script>
}

<!-- section end -->